<div class="m-quote__carousel">
  <div class="m-quote__carousel-items">
    {% for item in items %}
    <div>
      {% if sb_demo %}
        {% include '@molecules/quote/quote.twig' with {
          variation: item.variation,
          text: item.text,
          source_name: item.source_name,
          image: item.image,
          link_url: item.link_url,
          link_label: item.link_label,
          } only 
        %}
      {% else %}
        {{ item }}
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="m-quote__carousel-buttons">
    <div class="m-quote__carousel-prev-btn">
      {% include "@atoms/button/button.twig" with {
        directory: directory,
        label: label,
        html_element: 'button',
        variation: 'icon',
        icon: 'circle-caret-left',
        url: '#',
        aria_label: "Previous"|t,
        alignment: 'left'
        } only
      %}
    </div>

    <div class="m-quote__carousel-next-btn">
      {% include "@atoms/button/button.twig" with {
        directory: directory,
        label: label,
        html_element: 'button',
        variation: 'icon',
        icon: 'circle-caret-right',
        url: '#',
        aria_label: "Next"|t,
        alignment: 'left'
        } only
      %}
    </div>
  </div>
</div>
