// Event variation
.o-hero-media--person-text {
  @extend %o-hero-media-core;
  display: grid;

}

.o-hero-media--person-text {
  .o-hero-media__bg-decoration {
    @extend %o-hero-media__bg-decoration;
  }
}

.o-hero-media--person-text__text-wrapper {
  grid-row: 4;
  grid-column: col 1 / span 12;

  @include breakpoint($bp-tablet) {
    grid-column: col 1/ span 12;
    display: flex;
    justify-content: space-between;
    gap: var(--spacer);
  }
}

.o-hero-media--person-text__title-prefix {
  @extend %o-hero-media__title-prefix-core;
}

.o-hero-media--person-text__title-suffix, 
.o-hero-media--person-text__title-suffix p {
  color: var(--c-heading-summary);
}

.o-hero-media--person-text__info-wrapper {
  @include breakpoint($bp-tablet) {
    width: 33%;
  }
}

.o-hero-media--person-text__tags {
  @extend %o-hero-media__tags;
  @extend %o-hero-media-tags-no-border;
}

.o-hero-media--person-text__info {
  @extend %o-hero-media--person__info;
}

.o-hero-media__info-date, 
.o-hero-media__info-time,
.o-hero-media__info-location {
  @extend %o-hero-media--person__info-items;
}

.o-hero-media--person-text__button {
  @extend %o-hero-media__button;
}

.o-hero-media--person-text__breadcrumbs {
  @extend %o-hero-media__breadcrumbs;
}