.m-cta {
  border-radius: rem(12px);
  overflow: hidden;
}

%m-cta__main-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

%m-cta-main-background {
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  background-image: url('../images/noise.svg'), url('../images/texture-right.svg');
  background-color: #A6DCF2;
  background-repeat: repeat, no-repeat;
  background-size: 100px 100px, 200% 200%;
  background-blend-mode: color-dodge, normal; 
  background-position: center, 15% 50%;
}

%m-cta--buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer);

  .a-button,
  .a-button--secondary {
    margin-right: 0;
  }
}

.m-cta__main {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: rem(20px);

  @include breakpoint($bp-tablet) {
    gap: calc(var(--spacer) * 1.2);
    padding: rem(20px) rem(80px);
  }
}

.m-cta--center {
  text-align: center;
  align-items: center;
}

.m-cta__description {
  color: var(--c-cta-text);
}

//Image Variation 
.m-cta--image {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-tablet-small) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
}

.m-cta--image__main-wrapper {
  @extend %m-cta__main-wrapper;

  @include breakpoint($bp-tablet-small) {
    grid-row: 1;
  }
}

.m-cta--image__main-wrapper__background {
  @extend %m-cta-main-background;
}

.m-cta--image__main {
  height: 100%;
  justify-content: center;

  grid-row: 1;
  grid-column: 1;
}

.m-cta--image__image {
  height: 100%;

  @include breakpoint($bp-tablet-small) {
    grid-row: 1;
  }

  .m-image__image,
  .m-image {
    height: 100%;
  }

  img, picture {
    height: 100%;
    object-fit: cover;
  }
}

.m-cta--image__image .m-image img {
  border-radius: 0;
}

.m-cta__main--image__buttons {
  @extend %m-cta--buttons;
}

// Text Variation 
.m-cta--text__main-wrapper {
  @extend %m-cta__main-wrapper;
}

.m-cta--text__main {
  height: 100%;
  justify-content: center;

  grid-row: 1;
  grid-column: 1;
}

.m-cta--image__title {
  h2 {
    margin-left: rem(15px);

    &::before {
      position: absolute;
      display: block;
      left: -15px;
      width: 3px;
      height: 100%;
      background-color: var(--c-heading-decoration);
      content: '';
    }
  }
}

.m-cta--text__main-wrapper__background {
  @extend %m-cta-main-background;
}

.m-cta__main--text__buttons {
  @extend %m-cta--buttons;
}
