.storybook-section__demo--blue {
  outline: 2px dashed rgba(#0000ff, 0.8);
  background-color: rgba(#0000ff, 0.2);
}

.storybook-section__demo--red {
  outline: 2px dashed rgba(#ff0000, 0.8);
  background-color: rgba(#ff0000, 0.2);
}

.storybook-section__demo--green {
  outline: 2px dashed rgba(#00ff00, 0.8);
  background-color: rgba(#00ff00, 0.2);
}