%m-fact-item {
  display: flex;
  flex-direction: column;
}

%m-fact-item__value {
  font-size: rem(50px);
  font-weight: 800;
  line-height: 1;

  sup {
    top: -1.5em;
    font-size: 40%;
  }
}

%m-fact-item__description {
  color: palette(blue, 300);

  p {
    color: palette(blue, 300);
  }
}

%m-fact-group {

  &.teal .m-fact-item {
    border-color: palette(teal, 300);
  }

  &.magenta .m-fact-item {
    border-color: palette(pink, 400);
  }

  &.magenta .m-fact-item__image-illustration-bg {
    background-color: palette(pink, 850);
  }

  &.teal .m-fact-item__image-illustration-bg {
    background-color: palette(teal, 700);
  }

  &.teal .m-fact-item__value,
  &.teal .m-fact-item__value p {
    color: palette(teal, 300);
  }

  &.magenta .m-fact-item__value,
  &.magenta .m-fact-item__value p {
    color: palette(pink, 400);
  }

  .m-fact-item__description {
    @extend %m-fact-item__description;
  }

  .m-fact-item__value,
  .m-fact-item__value p {
   @extend %m-fact-item__value;
  }

  .a-icon-external--small {
    grid-column: col 1 /span 2;
    grid-row: 1;
    display: grid;
    align-self: center;
  }
}


// Group card Variation
.m-fact-group--card {
  @extend %m-fact-group;
  
  .m-fact-item {
    @extend %m-fact-item;
  
    padding: var(--spacer) calc(var(--spacer)*0.8);
    border-radius: rem(12px);
    justify-content: space-between;
    gap: calc(var(--spacer)*2);
    box-shadow: 0 rem(15px) rem(30px) 0 rgba(62, 19, 77, 0.09);

    &.m-fact-item--text {
      justify-content: center;

      .m-fact-item__main {
        border-top: unset;
        padding-top: 0;
      }
    } 
  }
  
  .m-fact-item__illustration {
    @extend %m-card__image-illustration;
    align-self: flex-end;
  
    svg {
      max-height: rem(64px);
      min-width: rem(64px);
      min-height: rem(64px);
    }
  
    .m-fact-item__image-illustration-bg {
      @extend %m-card__image-illustration-bg;
  
      width: rem(64px);
      height: rem(64px);
    }
  }
  
  .m-fact-item__description-wrapper {
    display: flex;
    align-items: flex-start;
  }

  .m-fact-item__main {
    display: flex;
    // justify-content: space-between;
    gap: var(--spacer);
    align-items: flex-end;
    width: 100%;
    border-top: rem(1px) solid palette(grey, 800);
    padding-top: var(--spacer);
  }
}


// Group Line
.m-fact-group--line {
  @extend %m-fact-group;

  background-color: palette(white);
  border-radius: rem(12px);
  padding: var(--spacer);

  @include breakpoint($bp-tablet) {
    padding: calc(var(--spacer)*2) calc(var(--spacer)*2.5);
  }

  //line Variation
  .m-fact-item {
    @extend %m-fact-item;

    gap: calc(var(--spacer)*0.9);
    border-left: rem(3px) solid transparent;
    padding-left: calc(var(--spacer)*0.65);
  }


  .m-fact-item__illustration {
    @extend %m-card__image-illustration;
    margin-left: rem(-15px);

    svg {
      max-height: rem(44px);
      min-width: rem(44px);
      min-height: rem(44px);
    }

    .m-fact-item__image-illustration-bg {
      @extend %m-card__image-illustration-bg;

      width: rem(44px);
      height: rem(44px);
    }
  }

  .m-fact-item__main {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: calc(var(--spacer)*0.8);
  }
}


//admin UI
#field-fact-group-items-add-more-wrapper .form-actions {
  display: none;
}