{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

{% if unpublished %}
<div class="paragraph--unpublished">
{% endif %}

{% if items %}
  <div class="m-fact-group{{ variation }} {{ color }} l-grid--{{ columns }}col">
      {% for item in items %}
        {% if sb_demo %} 
          {% include '@molecules/fact/fact-item.twig' with {
              variation: variation,
              value: item.value,
              description: item.description,
              illustration: item.illustration,
              sb_demo: item.sb_demo,
            } only
          %}
        {% else %}
          {{ item }}
        {% endif %}
      {% endfor %}
  </div>
{% endif %}

{% if unpublished %}
</div>
{% endif %}
