{% if items %}
  <div class="m-fact-group l-flex--3col">
      {% for item in items %}
        {% if sb_demo %} 
          {% include '@molecules/fact/fact-item.twig' with {
              variation: item.variation,
              value: item.value,
              description: item.description,
              alignment: item.alignment,
              divider: item.divider,
              illustration: item.illustration,
              sb_demo: item.sb_demo,
            } only
          %}
        {% else %}
          {{ item }}
        {% endif %}
      {% endfor %}
  </div>
{% endif %}