{% set illustration_size = illustration_size|default('xsmall') %}
{% set title_appearance = title_appearance|default('h3') %}
{% set title_html_element = title_html_element|default('h3') %}

<div class="m-fact-item{% if not illustration %} m-fact-item--text{% endif %}{% if unpublished %} paragraph--unpublished{% endif %}">
  {% if illustration %}
    <div class="m-fact-item__illustration">
      <div class="m-fact-item__image-illustration-bg"></div>
      {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
          directory: directory,
          base_class: 'a-icon',
          icon_file_type: illustration_file_type,
          icon: illustration,
          size: 'small', 
        } only
      %}
    </div>
  {% endif %}

  <div class="m-fact-item__main">

    {% if value %}
      <div class="m-fact-item__value">
        {{ value }}
      </div>
    {% endif %}

    {% if description  %}
      <div class="m-fact-item__description-wrapper">
        <div class="m-fact-item__description">
          {{ description }}
        </div>
      </div>
    {% endif %}

  </div>
</div>
