
// // Learn about this technique:
// // @link https://moderncss.dev/pure-css-custom-checkbox-style/

:root {
  @include root-prop(--checkmark-color, palette(white));
  @include root-prop(--input-checkbox-background, palette(blue, 500));
}

// Checkbox group wrapper.
.m-form-item--checkbox {
  margin-bottom: ru(0.2);

  .m-input-checkbox :last-child {
    margin-bottom: 0;
  }
}

// Checkbox wrapper.
.m-form-item--checkbox-wrapper {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em; // sass-lint:disable-line no-misspelled-properties
}

// Checkbox input.
.m-input-checkbox {
  display: grid;
  margin: 0;
  border: 0.12em solid currentColor;
  background-color: palette(white);
  width: 1.15em;
  height: 1.15em;
  cursor: pointer;

  // hide defoult checkmark.
  appearance: none;
  place-content: center;
  transform: translateY(-0.075em);

  // checked background-color.
  &:checked {
    background-color: var(--input-checkbox-background);
  }
}


// Check mark
.m-input-checkbox::before {
  /* Windows High Contrast Mode */
  background-color: CanvasText;
  width: 0.65em;
  height: 0.65em;
  content: '';
  box-shadow: inset 1em 1em var(--checkmark-color);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

// Check mark (checked)
.m-input-checkbox:checked::before {
  transform: scale(1);
}

// focus state.
.m-input-checkbox:focus {
  outline: rem(2px) solid palette(blue, 400);
  outline-offset: rem(2px);
}

// disabled state.
.m-input-checkbox:disabled {
  @include root-prop(--checkmark-color, var(--color-disabled));

  border-color: var(--color-disabled);
  cursor: not-allowed;

  + label {
    color: var(--color-disabled);
    cursor: not-allowed;;
  }
}

// Error state.
.m-input-checkbox.error {
  border-color: palette(red);


  + label {
    color: palette(red);
    cursor: not-allowed;;
  }
}

// Label
.m-input-checkbox + label {
  padding: 0;
  cursor: pointer;

  a {
    @extend %a-link--grey;
    margin-left: rem(5px);
  }
}

.m-form-item--checkbox .m-form-item__description {
  margin-top: ru(0.25);
}

// display-side-by-side.
.webform-options-display-side-by-side.m-form-item--checkbox {
  .m-form-item--checkbox-wrapper {
    display: inline-grid;
  }
}
