.m-form-item--checkbox {
  position: relative;
  margin-bottom: ru(0.25);

  .m-input-checkbox :last-child {
    margin-bottom: 0;
  }

  &.form-item--error {
    border: 1px solid palette(red);
    border-radius: rem(10px);
    padding: rem(5px) rem(10px);
  }
}

%m-form-item--checkbox__label,
.m-form-item--checkbox label {
  margin-bottom: 0;

  .required.error .m-input-checkbox  {
    color: palette(red);
  }
}

// Input.
%m-input-checkbox,
.m-input-checkbox {
  // display: none;
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  &:focus {
    + label:before {
      outline: 2px solid palette(blue, 400);
      outline-offset: 2px;
    }
  }
}

// Label
%m-input-checkbox__label,
.m-input-checkbox + label {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0;
  cursor: pointer;

  a {
    @extend %a-link;
    margin-left: rem(5px);
  }
}

// Box.
%m-input-checkbox__label--before,
.m-input-checkbox + label:before {
  display: inline-block;
  margin-right: rem(10px);
  border: 1px solid palette(black);
  background: palette(white);
  min-width: rem(16px);
  height: rem(16px);
  vertical-align: text-top;
  content: '';
}

%m-input-checkbox__error--before,
.m-input-checkbox.error + label:before {
  border: 1px solid palette(red);
}

// Box checked.
%m-input-checkbox--checked__label--before,
.m-input-checkbox:checked + label:before {
  background: palette(blue);
}

// Disabled state label.
%m-input-checkbox--disabled__label,
.m-input-checkbox:disabled + label {
  color: palette(grey);
  cursor: auto;
}

// Disabled box.
%m-input-checkbox--disabled__label--before,
.m-input-checkbox:disabled + label:before {
  border-color: palette(grey);
  color: palette(grey);
}

// Checkmark.
%m-input-checkbox--checked__label--after,
.m-input-checkbox:checked + label:after {
  position: absolute;
  left: 3px;
  background: palette(white);
  width: 2px;
  height: 2px;
  content: '';
  box-shadow: 2px 0 0 palette(white), 4px 0 0 palette(white), 4px -2px 0 palette(white), 4px -4px 0 palette(white), 4px -6px 0 palette(white), 4px -8px 0 palette(white);
  transform: rotate(45deg);
}

.m-form-item--checkbox .m-form-item__description {
  margin-top: ru(0.25);
}
