<fieldset class="m-form-group">
  <legend class="m-form-group__label"><span class="m-label--is-required legend_span_class">Title of the checkbox group<span>*</span></span></legend>
  <div class="m-form-group__wrapper">
    <div class="m-form-group__elements">
      <div class="m-form-item--checkbox" data-states-for="checkox_one">
        <input required="required" aria-required="" type="checkbox" id="checkox_one" name="checkox_one" value="Checkbox One" class="m-input-checkbox"> <label for="checkox_one" class="m-label--is-required m-label">Checkbox One</label>
      </div>
      <div class="m-form-item--checkbox" data-states-for="checkox_one">
        <input required="required" aria-required="" type="checkbox" id="checkox_two" name="checkox_two" value="Checkbox Two" class="m-input-checkbox"> <label for="checkox_two" class="m-label--is-required m-label">Checkbox Two</label>
      </div>
      <div class="m-form-item--checkbox" data-states-for="checkox_one">
        <input required="required" aria-required="" type="checkbox" id="checkox_three" name="checkox_three" value="Checkbox Three" class="m-input-checkbox"> <label for="checkox_three" class="m-label--is-required m-label">Checkbox Three is very long to demonstrate text wrapping.</label>
      </div>
    </div>
    <div class="m-form-group__description">
      This is the description of a checkbox group
    </div>
  </div>
</fieldset>