.m-sliding-door-menu {
  border-radius: rem(12px);
  overflow: hidden;

  @include breakpoint($bp-tablet-small) {
    display: flex;
    flex-wrap: wrap;
  }

  @include breakpoint($bp-large) {
    flex-wrap: nowrap;
    height: rem(405px);
  }
}

.m-sliding-door-menu .m-sliding-item {
  .m-image,
  .m-image__image {
    height: 100%;
  }

  img {
    object-fit: cover;
    height: 100%;
  }

  @include breakpoint($bp-tablet) {
    flex: 1 1 50%;
  }

  @include breakpoint($bp-large) {
    flex: 1 1 25%;
    transition: flex 0.2s ease-in;
  }
}

.m-sliding-item.highlighted-slide {
  @include breakpoint($bp-large) {
    flex: 1 1 50%;

    .m-sliding-item__image {
      grid-area: slide;
    
      img {
        filter: saturate(1);
      }
    }

    .a-heading__h5 a {
      color: var(--c-sliding-menu-link--active);
      text-decoration: underline;
  
      svg {
        fill: currentColor;
      }
    }
  }
}
