.m-sliding-door-menu-wrapper {
  position: relative;
  border-radius: rem(12px);
  overflow: hidden;
}

.m-sliding-door-menu {
  @include breakpoint($bp-tablet) {
    display: flex;
  }
}

.m-sliding-door-menu-desktop-links {
  display: none;

  @include breakpoint($bp-tablet) {
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;

    .m-sliding-item__link {
      transition:  0.2s cubic-bezier(.12,.78,.74,.9);
    }
  }
}

.m-sliding-door-menu .m-sliding-item {
  @include breakpoint($bp-tablet) {
    position: absolute;
    transition:  0.2s cubic-bezier(.12,.78,.74,.9);

    .m-sliding-item__link {
      display: none;
    }
  }
}

.m-sliding-item.highlighted-slide {
  @include breakpoint($bp-tablet) {
    z-index: 1;

    .m-sliding-item__image {
      grid-area: slide;
    
      img {
        filter: saturate(1);
      }
    }
  }
}
