{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

<div role="navigation" class="m-sliding-door-menu-wrapper{{ variation }}{% if unpublished %} paragraph--unpublished{% endif %}{% if sb_demo %} sb_demo{% endif %}">
  {% if sliding_menu_items_links %}
    <div class='m-sliding-door-menu-desktop-links'>
      {% for item in sliding_menu_items_links %}
        <div class="m-sliding-item{{ variation }}__link">
          {% include "@atoms/text/headings/heading.twig" with {
              directory: directory,
              html_element: 'h3',
              appearance: 'h5',
              text: item.label,
              id: 'link-' ~ item.label|replace({' ': ''})|lower,
              url: item.url,
              alignment: 'left',
              aria_label: item.aria_label,
            } only
          %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="m-sliding-door-menu">
    {% for item in sliding_menu_items %}
      {% if sb_demo %}
        {% include '@molecules/sliding-door-menu/sliding-item.twig' with {
            sb_demo: item.sb_demo,
            image: item.image,
            link_url: item.link_url,
            link_label: item.link_label,
            aria_label: item.aria_label,
            special_class: special_class,
          } only
        %}
      {% else %}
        {{ item }}
      {% endif %}
    {% endfor %}
  </div>
</div>
