:root {
  --header-height: #{rem(133px)};

  @include breakpoint($bp-tablet) {
    --header-height: #{rem(140px)};
  }

  @include breakpoint($bp-full-nav) {
    --header-height: #{rem(250px)};
  }

  @include breakpoint($bp-large) {
    --header-height: #{rem(285px)};
  }
}

// See the same value in _section-spacing.scss
$spacing-small: var(--spacer);
$spacing-medium: calc(var(--spacer) * 2.5);
$spacing-large: calc(var(--spacer) * 5);

.l-page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

.l-page__header {
  grid-area: main;
  width: 100%;
  z-index: 2; // ensures the header is on top when they overlap
  height: var(--header-height);
}

.l-page__main {
  grid-area: main;
  z-index: 1; // ensures the main content is below when they overlap
}

.l-page__footer {
  margin-top: auto;
  grid-area: footer;
}

.l-page--system__wrapper {
  @extend %l-section;
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
}

.l-page--system {
  @extend %l-section__child;
  grid-column: 2/ span 12;
}

.l-page__utilities-tabs-wrapper,
.l-main__header-wrapper {
  @extend %l-section;
} 

.l-main__header-wrapper {
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;
}

.l-page__utilities-tabs,
.l-main__breadcrumbs,
.l-main__header {
  grid-column: 2/ span 12;
}