{% extends '@layouts/page/page.twig' %}

{% block page_content %}

  {# Set system_content to Load Content in a 1 column main wrapper #}

  {% set system_content %}
    <div class="l-page--system l-section--[12] l-section-spacing-top--medium l-section-spacing-bottom--medium">
      <div class="l-section__zone-1">
        {# System Content  #}
        {{ content }}
      </div>
    </div>
  {% endset %}

  {% include "@organisms/content-header/content-header.twig" with {
      variation: '--text',
      title: content_title,
    } only
  %}

  {% include "@layouts/main/main.twig"
    with {
      content: system_content,
    }
  %}

{% endblock %}
