:root {
  --header-height: #{rem(94px)};

  @include breakpoint($bp-full-nav) {
    --header-height: #{rem(161px)};
  }

  @include breakpoint($bp-large) {
    --header-height: #{rem(195px)};
  }
}

.l-page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

.l-page__header {
  grid-area: main;
  width: 100%;
  z-index: 2; // ensures the header is on top when they overlap
  height: fit-content;
}

.l-page__main {
  grid-area: main;
  z-index: 1; // ensures the main content is below when they overlap
}

.l-page__menu-priority-plus {
  position: sticky;
  top: -1px;
  z-index: 1;
  border-top: 1px solid palette(grey, 950);
  border-bottom: 1px solid palette(grey, 950);
  background-color: palette(white);

  &:empty {
    display: none;
  }

  .contextual-region {
    position: inherit;
  }

  .toolbar-horizontal & {
    top: rem(39px);
  }

  .toolbar-tray-open & {
    top: rem(79px);

  }
}

.l-page__footer {
  margin-top: auto;
  grid-area: footer;
}
