.m-logo--image {
  @include linear-gradient-animation-border(palette(blue, 300), transparent);

  display: block;
  background-position: center left;
  background-size: 1px 0%, 1px 100%;
  padding: rem(4px) 0 rem(4px) rem(8px);

  &:focus,
  &:hover,
  &:active {
    background-size: 1px 95%,1px 100%;

    img {
      opacity: 0.9;
    }
  }
}

.m-logo--image__img {
  width: 100%;
  height: auto;
}

.o-header__logo {
  @include root-prop(--header-logo-line-color, palette(blue, 300));
  @include linear-gradient-animation-border(var(--header-logo-line-color), transparent);
  
  background-position: center left;
  background-size: 1px 0%, 1px 100%;
  padding: 0 0 0 rem(8px);
  
  &:focus,
  &:hover,
  &:active {
    background-size: 1px 80%, 1px 100%;
  
    svg {
      opacity: 0.9;
    }
  }

  .m-logo {
    @include svg-wrapper(350, 78.5);
  }
}

.m-logo {
  display: block;
}

.m-logo__hidden-text {
  height: 0;
}
