select {
  @extend %a-type--small;
  border-image: none;
  // background-image: url("./svg-src/svg-art/ico-chevron-down--red-minified.svg");
  // Minfied with https://vecta.io/nano
  // URL encoded with https://yoksel.github.io/url-encoder/
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAyNyAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjQ5OTQgMTguNjQyNkMxMy4xNzA0IDE4LjY0MjYgMTIuODQxMyAxOC41MTcxIDEyLjU5MDYgMTguMjY2TDQuODc2NjYgMTAuNTUyQzQuMzc0NDUgMTAuMDQ5OCA0LjM3NDQ1IDkuMjM2MjMgNC44NzY2NiA4LjczNDAyQzUuMzc4ODcgOC4yMzE4MSA2LjE5MjQ1IDguMjMxODEgNi42OTQ2NiA4LjczNDAyTDEzLjQ5OTQgMTUuNTQxTDIwLjMwNTMgOC43MzUwMkMyMC44MDc2IDguMjMyODEgMjEuNjIxMSA4LjIzMjgxIDIyLjEyMzMgOC43MzUwMkMyMi42MjU2IDkuMjM3MjMgMjIuNjI1NiAxMC4wNTA4IDIyLjEyMzMgMTAuNTUzTDE0LjQwOTQgMTguMjY3QzE0LjE1ODMgMTguNTE4MSAxMy44Mjg4IDE4LjY0MjYgMTMuNDk5NCAxOC42NDI2WiIgZmlsbD0iIzRENEQ0RCIvPgo8L3N2Zz4K');
  background-repeat: no-repeat;
  background-position: right ru(0.75) center;
  background-size: ru(0.75) ru(0.75);
  padding-right: ru(2);
  // border-radius: rem(10px);
  cursor: pointer;
  appearance: none;
}

%m-select,
.m-select {

  &.is-invalid,
  &.error {
    border-color: palette(red);
  }
}

.m-select__icon-wrapper {
  position: relative;

  &:hover,
  &:active,
  &:focus {
    .m-select__icon {
      color: palette(red);
    }
  }

  .m-select__icon {
    position: absolute;
    top: 50%;
    left: rem(12px);
    color: palette(grey, 400);
    transition: color 0.25s cubic-bezier(0.1, 0.96, 0.56, 1);
    transform: translateY(-50%);
  }

  .m-select {
    padding-left: ru(1.25);  
  }
}
