<fieldset class="m-form-group is-invalid" data-states-for="radio-group">
  <legend class="m-form-group__label"><span class="m-label--is-required legend_span_class">Title of the radio group<span>*</span></span></legend>
  <div class="m-form-group__wrapper">
    <div class="m-form-group__elements">
      <div class="m-form-item--radio" data-states-for="radio_option">
        <input required="required" aria-required="" type="radio" id="radio_one" name="radio_group" class="m-input-radio"> <label for="radio_one" class="m-label--is-required m-label">Radio One</label>
      </div>
      <div class="m-form-item--radio" data-states-for="radio_option">
        <input required="required" aria-required="" type="radio" id="radio_two" name="radio_group" class="m-input-radio"> <label for="radio_two" class="m-label--is-required m-label">Radio Two</label>
      </div>
      <div class="m-form-item--radio" data-states-for="radio_option">
        <input required="required" aria-required="" type="radio" id="radio_three" name="radio_group" class="m-input-radio"> <label for="radio_three" class="m-label--is-required m-label">Radio Three is a very long radio button so we can demonstrate text wrapping</label>
      </div>
    </div>
    <div class="m-form-group__description">
      This is the description of a radio group.
    </div>
  </div>
</fieldset>