%overlay-link-card {
  // Overlay link.
  a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
}

%m-card,
.m-card {
  display: flex;
  flex-direction: column;
  width: 100%; // Required for IE 11 Hack
  position: relative;

  .a-heading__last-word {
    padding-right: 0;
  }
}

%m-card__main,
.m-card__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: ru(1);
  text-align: center;
}

%m-card__title,
.m-card__title,
.m-card__title.below {
  @extend %overlay-link-card;

  color: var(--c-card-title);

  h2, h3, span {
    color: var(--c-card-title);
    margin-bottom: 0;
    display: inline-block;
  }

  a {
    color: var(--c-card-title) !important;

    svg {
      fill: currentColor !important;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--c-card-title--active);

      .a-heading__last-word {
        text-decoration: underline;
      }
    }

    // span {
    //   padding: 0;
    // }
  }
}

.m-card__link {
  @extend %overlay-link-card;
}

%m-card--bordered__title {
  @extend %overlay-link-card;

  color: var(--c-card--bordered-title);

  h2, h3, span {
    color: var(--c-card--bordered-title);
    margin-bottom: 0;
    display: inline-block;
  }

  a {
    color: var(--c-card--bordered-title) !important;

    svg {
      fill: currentColor !important;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--c-card--bordered-title--active);
      .a-heading__last-word {
        text-decoration: underline;
      }
    }
  }
}

%m-card__description,
.m-card__description {
  @extend %u-remove-child--margin-top-bottom;
  @extend %a-type--xlarge;

  color: var(--c-card-text);
  flex-grow: 1;

  p {
    color: var(--c-card-text);
  }
}

%m-card--bordered__description {
  @extend %m-card__description;
  color: var(--c-card--bordered-text);

  p {
    color: var(--c-card--bordered-text);
  }
}

.m-card.m-card--bordered {
  height: 100%;
}

//Card decoration
.m-card--bordered {
  position: relative;
  background-color: var(--c-card-background);
  border-radius: rem(10px);
  border: rem(1px) solid var(--c-card-border);
  overflow: hidden;
  padding: ru(1);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 2);

  @include breakpoint($bp-tablet) {
    padding: ru(1) ru(2);
  }

  .m-card__title {
    @extend %m-card--bordered__title;

    color: var(--c-card--bordered-illustration);
  }

  .m-card__description {
    @extend %m-card--bordered__description;
    color: var(--c-card--bordered-illustration);
  }
}

