.m-card--image {
  @extend %m-card;
  border-left: unset;
  padding-left: 0;
}

.m-card--image__main {
  @extend %m-card__main;
}

// Image variation
.m-card--image__title {
  @extend %m-card__title;

  text-align: center;

  h2, h3, span {
    display: inline-block;
  }

  h2 a, h3 a, span a {
    color: var(--c-card-title) !important;
    
    span {
      padding: 0;
    }
  }

  svg {
    fill: var(--c-card-title) !important;
  }
}


.m-card--image__link {
  // .a-heading__h5 a {
  //   color: palette(blue);

  //   svg {
  //     color: palette(teal, 300);
  //   }

  //   &:hover,
  //   &:focus,
  //   &:active {
  //     color: palette(teal, 300);
  //     text-decoration: none;
      
  //     svg {
  //       color: palette(blue);
  //     }
  //   }
  // }

  .a-button--secondary {
    padding-left: 0;
  }
}