//Card Horizontal
%m-card--horizontal,
.m-card--horizontal {
  display: grid;
  grid-template-columns: rem(10px) 1fr rem(10px);
  grid-template-rows: 1fr rem(80px) rem(20px);
  color: var(--c-card--horizontal-text);
  width: 100%; // Required for IE 11 Hack
  position: relative;
  // margin-bottom: rem(100px) !important;
  padding-top: rem(100px);

  &:first-child {
    // padding-top: rem(100px) !important;
  }

  &:last-child {
    margin-bottom: 0.6rem !important;
  }

  @include breakpoint($bp-tablet) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: rem(40px) 1fr rem(40px);
    margin-top: 0.6rem !important;
    margin-bottom: 0.6rem !important;
    padding-top: 0;
  }

  .a-heading__last-word {
    padding-right: 0;
  }
}

.m-card--horizontal__icon {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  z-index: 1;
  padding: rem(40px);
  background-color: var(--c-card-icon-background);
  border-radius: 50%;
  box-shadow: 0 rem(6.72px) rem(6.72px) rgba(0, 0, 0, 0.1);
  transform: translate(0, -50%);
  
  @include breakpoint($bp-tablet) {
    transform: translate(-50%, 0);
    grid-column: 1/2;
    grid-row: 2;
  }
}

.m-card--horizontal__background {
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-color: var(--c-card--horizontal-background);
  border-radius: rem(10px);
  border: rem(1px) solid var(--c-card-border);

  @include breakpoint($bp-tablet) {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
}

%m-card--horizontal__main,
.m-card--horizontal__main {
  grid-column: 2;
  grid-row: 1/-1;
  margin-top: rem(100px);
  display: flex;
  flex-direction: column;
  gap: ru(1);

  @include breakpoint($bp-tablet) {
    grid-column: 1/-1;
    grid-row: 2;
    align-self: center;
    margin-top: 0;
    margin-left: rem(120px);
  }
}

.m-card--horizontal__title {
  @extend %m-card__title;

  h2, h3, span {
    color: var(--c-card--horizontal-text) !important;
    display: inline-block;
  }

  a {
    color: var(--c-card--horizontal-text);

    svg {
      fill: currentColor !important;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--c-card--horizontal-text);
      .a-heading__last-word {
        text-decoration: underline;
      }
    }

    span {
      padding: 0;
    }
  }
}

.m-card--horizontal__description {
  @extend %m-card__description;

  color: var(--c-card--horizontal-text);

  p {
    color: var(--c-card--horizontal-text);
  }

  a {
    color: palette(blue) !important;

    &:active,
    &:hover,
    &:focus {
      text-decoration-color:  palette(blue) !important;
    }
  }
}
