// Card Illustration
.m-card--illustration {
  position: relative;

  .a-heading__last-word {
    padding-right: 0;
  }
}

.m-card__image-illustration {
  display: flex;
  justify-content: center;
  color: var(--c-card--illustration);
}
  
.m-card--illustration.m-card--bordered {
  padding: ru(4) ru(1) ru(1);

  .m-card__image-illustration {
    margin-bottom: ru(2);
    color: var(--c-card--bordered-illustration);
  }
}
  
.m-card--illustration__title.below {
  @extend %m-card__title;
  text-align: center;

  h2, h3, span {
    display: inline-block;
  }

  h2 a, h3 a, span a {
    color: var(--c-card-title) !important;
    
    span {
      padding: 0;
    }
  }

  svg {
    fill: var(--c-card-title) !important;
  }

  .m-card--bordered & h2,
  .m-card--bordered & h3,
  .m-card--bordered & span {
    display: block;
    
    color: var(--c-card--bordered-illustration);

    a {
      color: var(--c-card--bordered-illustration);
      
      &:hover {
        color: var(--c-card--bordered-illustration);
        .a-heading__last-word {
          text-decoration: underline;
        }
      }
    }
  }
}

.m-card--illustration__title.above {
  margin-bottom: ru(1)
}
  
.m-card--illustration__main {
  @extend %m-card__main;
}
  
.m-card--illustration__description {
  @extend %m-card__description;

  .m-card--bordered & {
    color: var(--c-card--bordered-illustration);

    p {
      color: var(--c-card--bordered-illustration);
    }
  }
}