// Card Illustration
.m-card--illustration {
  @extend %m-card;

}

%m-card__image-illustration,
.m-card__image-illustration {
  display: grid;
  grid-template-columns: minmax(min-content, auto) rem(15px) minmax(min-content, auto);
  align-items: center;
  color: var(--c-card--illustration);
  margin-left: -15px;
  position: relative;
  width: fit-content;

  & > svg,
  .a-icon-external--xsmall {
    grid-column: col 1 /span 2;
    grid-row: 1;
  }
}

%m-card__image-illustration-bg,
.m-card__image-illustration-bg {
  width: rem(37px);
  height: rem(37px);
  border-radius: 50%;
  background-color: var(--c-card--illustration-bg);
  grid-column: col 2 / span 2;
  grid-row: 1;
  transition: 0.2s cubic-bezier(.12,.78,.74,.9);

  .active & {
    margin-left: rem(20px);
  }
}
  
.m-card--illustration__title {
  @extend %m-card__title;

  text-align: center;

  h2, h3, span {
    display: inline-block;
  }

  h2 a, h3 a, span a {
    span {
      padding: 0;
    }
  }
}
  
.m-card--illustration__main {
  @extend %m-card__main;
}
  
.m-card--illustration__description {
  @extend %m-card__description;
}

.m-card--illustration__link {
  .a-heading__h5 {
    @extend %overlay-link-card;
  }

  .a-heading__h5 a {
    &:hover,
    &:focus,
    &:active {
      
      svg {
        transform: translateX(0);
      }
    }
  }
}