/* Responsive Video using CSS only */

.m-video {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 0.5);
}

.m-video__video {
  iframe {
    width: 100%;
    height: 100%;
    border-radius: rem(10px);
  }

  video {
    display: block;
    margin: auto;
    border-radius: 10px;
  }
}

.m-video__caption {
  @extend %a-type--xsmall;

  color: var(--c-video-caption);
  padding-top: rem(10px);
  border-top: rem(1px) solid var(--c-video-caption-border);
}

