/**************************************************************************
***************************************************************************
********************* SECTION SPACING THEME VARIATIONS *****************
***************************************************************************
**************************************************************************/

$spacing-small: calc(var(--spacer) * 2);
$spacing-medium: calc(var(--spacer) * 3);
$spacing-large: calc(var(--spacer) * 4);

// Reset padding if no child elements
%reset-padding {
  &:not(:has(div)) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.l-section-spacing-top--small {

  .l-section__zone-1,
  .l-section__zone-2,
  .l-section__zone-3,
  .l-section__zone-4 {
    @extend %reset-padding;
    padding-top: $spacing-small;
  }
}

.l-section-spacing-bottom--small {
  .l-section__zone-1,
  .l-section__zone-2,
  .l-section__zone-3,
  .l-section__zone-4 {
    @extend %reset-padding;
    padding-bottom: $spacing-small;
  }
}

.l-section-spacing-top--medium {
  .l-section__zone-1,
  .l-section__zone-2,
  .l-section__zone-3,
  .l-section__zone-4 {
    @extend %reset-padding;
    padding-top: $spacing-medium;
  }
}

.l-section-spacing-bottom--medium {
  .l-section__zone-1,
  .l-section__zone-2,
  .l-section__zone-3,
  .l-section__zone-4 {
    @extend %reset-padding;
    padding-bottom: $spacing-medium;
  }
}

.l-section-spacing-top--large {
  .l-section__zone-1,
  .l-section__zone-2,
  .l-section__zone-3,
  .l-section__zone-4 {
    @extend %reset-padding;
    padding-top: $spacing-large;
  }
}

.l-section-spacing-bottom--large {
  .l-section__zone-1,
  .l-section__zone-2,
  .l-section__zone-3,
  .l-section__zone-4 {
    @extend %reset-padding;
    padding-bottom: $spacing-large;
  }
}
