%l-section__background {
  grid-row: 1/ span 3;
  grid-column: alpha / omega;
  background-repeat: repeat, no-repeat;
  background-blend-mode: color-dodge, normal; 

  background-size: 100px 100px, 1000% 1000%;
  background-position: center, center; 

  @include breakpoint($bp-tablet) {
    background-size: 100px 100px, 400% 400%;
  }

  @include breakpoint($bp-large) {
    background-size: 100px 100px, 300% 300%;
    background-position: center, 60% center; 
  }
}

%l-section__background--full-width { // for full width sections
  display: grid;

  .l-section__zone,
  .l-section__background {
    grid-column: 1 / -1;
  }
}

.theme--dark-blue-bg {
  .l-section__background,
  &.paragraphs-config__background-color {
    @extend %l-section__background;
    background-image: url('../images/noise.svg'), url('../images/texture-left.svg');
    background-color: palette(black, 200);
    background-blend-mode: soft-light, soft-light;
    background-size: 100px 100px, 200% 200%;
    background-position: center, 100% 50%;

    @include breakpoint($bp-max) {
      background-position: center, 70% 50%;
    }
  }

  &.l-section { // for full width sections
    @extend %l-section__background--full-width;
  } 
}

.theme--blue-right-bg {
  @extend %theme--blue-light;

  .l-section__background,
  &.paragraphs-config__background-color {
    @extend %l-section__background;
    background-image: url('../images/noise.svg'), url('../images/texture-right.svg');
    background-color: #A6DCF2;

    @include breakpoint($bp-tablet) {
      background-position: center, 30% center; 
    }
  }

  &.l-section { // for full width sections
    @extend %l-section__background--full-width;
  } 
}

.theme--blue-left-bg {
  @extend %theme--blue-light;

  .l-section__background,
  &.paragraphs-config__background-color {
    @extend %l-section__background;
    background-image: url('../images/noise.svg'), url('../images/texture-left.svg');
    background-color: #A6DCF2;
    
    @include breakpoint($bp-tablet) {
      background-position: center, 60% center; 
    }
  }

  &.l-section { // for full width sections
    @extend %l-section__background--full-width;
  } 
}

.theme--blue-both-bg {
  @extend %theme--blue-light;

  .l-section__background,
  &.paragraphs-config__background-color {
    @extend %l-section__background;
    background-image: url('../images/noise.svg'), url('../images/texture-both.svg');
    background-color: #A6DCF2;
  
    @include breakpoint($bp-max) {
      background-size: 100px 100px, 300% 300%;
      background-position: center, center; 
    }
  }

  &.l-section { // for full width sections
    @extend %l-section__background--full-width;
  } 
}