%l-section__background {
  grid-row: 1/ span 3;
  grid-column: alpha / omega;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: color-burn;
  background-position:  center;
}

.theme--dark-blue-bg {
  .l-section__background {
    @extend %l-section__background;
    background-image: url('../images/texture-left.png');
    background-color: palette(black, 200);
    background-blend-mode: soft-light;
  }
}

.theme--blue-right-bg {
  @extend %theme--blue-light;

  .l-section__background {
    @extend %l-section__background;
    background-image: url('../images/texture-right.png');
    background-color: palette(teal, 1000);
  }
}

.theme--blue-left-bg {
  @extend %theme--blue-light;

  .l-section__background {
    @extend %l-section__background;
    background-image: url('../images/texture-left.png');
    background-color: palette(teal, 1000);
  }
}

.theme--blue-both-bg {
  @extend %theme--blue-light;

  .l-section__background {
    @extend %l-section__background;
    background-image: url('../images/texture-both.png');
    background-color: palette(teal, 1000);
  }
}