%a-link-with-icons,
.a-file__link--icon-left {
  @extend %a-type--xmedium;

  font-weight: 700;
  text-decoration: none;
  margin-right: rem(12px);

  &:link,
  &:visited {
    color: var(--c-heading-link);
    text-decoration: none;
  }

  &:focus,
  &:hover,
  &:active {
    color: var(--c-heading-link--active);
  }

  svg {
    position: static;
    width: rem(32px);
    height: rem(32px);
    margin-right: 0;
    left: 0;
    transform: translate(0);
  }
}

.a-file__extention {
  @extend %a-type--xsmall;

  font-style: italic;
  font-weight: 400;
  color: var(--c-tag);
  text-transform: uppercase;
}
