//Core Layout
%o-hero-media-core {
  display: grid;
  grid-template-columns: [alpha] 1fr repeat(12, [col] minmax(1px, calc((65rem - (var(--spacer) * 11)) / 12))) 1fr [omega];
  grid-column-gap: var(--spacer);
  grid-template-rows: var(--header-height) var(--spacer) minmax(calc(var(--spacer)*2), auto) minmax(1px, min-content) var(--spacer) var(--spacer) var(--spacer);

  @include breakpoint($bp-tablet) {
    grid-template-rows: var(--header-height) var(--spacer) calc(var(--spacer)*2) minmax(1px, min-content) var(--spacer) var(--spacer) var(--spacer);
  }
}

%o-hero-media__bg-decoration, 
.o-hero-media__bg-decoration {
  grid-row: 1/ span 6;
  grid-column: alpha / omega;
  background-color: palette(teal, 1000);
  z-index: -1;

  img {
    opacity: 40%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: color-burn;
    pointer-events: none;
  }

  @include breakpoint($bp-tablet) {
    grid-row: 1/ span 5;
  }
}

%o-hero-media__breadcrumbs,
.o-hero-media__breadcrumbs {
  grid-row: 3;
  grid-column: col 1/ span 12;
  align-self: start;

  @include breakpoint($bp-tablet) {
    grid-column: col 1/ span 6;
  }
}

// Core image.
%o-here-media__image,
.o-hero-media__image {
  position: relative;
  overflow: hidden;

  img {
    height: auto;
    border-radius: rem(12px);
    object-fit: cover
  }

  picture {
    height: 100%;
  }
}

// Core image title-prefix.
%o-hero-media__title-prefix-core {
  @extend %a-type--xsmall;
  
  position: relative;
  display: inline-block;
  margin-bottom: calc(var(--spacer) / 2);
  text-transform: uppercase;
  color: var(--c-heading-prefix);

  &::before {
    position: absolute;
    display: block;
    left: -15px;
    width: 3px;
    height: 100%;
    background-color: var(--c-heading-prefix-decoration);
    content: '';
  }
}

.o-hero-media__title-prefix {
  @extend %o-hero-media__title-prefix-core;
}

%o-hero-media__title,
.o-hero-media__title {
  display: block;
  color: var(--c-heading-main-title);
}

%o-hero-media__tags, 
.o-hero-media__tags {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacer) / 2);
  margin-top: rem(26px);
}

%o-hero-media-tags-no-border {
  .a-chip {
    border: none;
  }
}

%o-hero-media-tags-desktop-no-border {
  .a-chip {
    @include breakpoint($bp-tablet) {
      border: none;
    }
  }
}

.o-hero-media__summary, 
.o-hero-media__summary p {
  color: var(--c-heading-summary);
}


// Text Veriation for content Header on Advanced Pages
.o-hero-media-page__text.o-hero-media--text__text {
  @include breakpoint($bp-tablet) {
    display: flex;
    justify-content: space-between;
    gap: var(--spacer);
  }

  .a-heading__h1 {
    @include breakpoint($bp-tablet) {
      width: 40%;
    }
  }

  .o-hero-media__summary {
    @include breakpoint($bp-tablet) {
      width: 57%;
    }
  }
}

%o-hero-media--text-wrapper,
.o-hero-media--text__text-wrapper {
  grid-row: 4;
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
}

.o-hero-media-page__text-wrapper.o-hero-media--text__text-wrapper {
  @include breakpoint($bp-tablet) {
    grid-column: col 1 / span 12;
  }
}

//Event Variation 
.o-hero-media--event-text__tags-wrapper,
.o-hero-media--event__tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacer)*0.3);
}

.o-hero-media--event__tags {
  display: flex;
  flex-direction: row;
  gap: calc(var(--spacer)*0.3);
  
  .a-chip {
    margin-bottom: 0;
  }
}
