%text-wrapper-layout {
  grid-row: 2;
  grid-column: col 1/ span 12;

  @include breakpoint($bp-tablet) {
    grid-row: 2;
    grid-column: col 1/ span 6;
  }
}

%two-images-breadcrumbs {
  @extend .o-hero-media__breadcrumbs;

  grid-row: 6;

  @include breakpoint($bp-tablet) {
    grid-row: 4;
  }
}

%two-images-background {
  @extend %o-hero-media__bg-decoration;
  background-size: cover;
  grid-row: 1/span 4;

  @include breakpoint($bp-tablet) {
    grid-row: 1/span 3;
    background-size: 100% 100%;
  }
}

%two-images-layout {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 0.5);
  padding: var(--spacer) 0;

  @include breakpoint($bp-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    gap: rem(10px);
    padding: 0;
  }
}


// Top-Bottom Variation 
.o-hero-media--top-bottom {
  @extend %o-hero-media-core;

  grid-template-rows: var(--header-height) minmax(1px, min-content) auto auto rem(250px) rem(30px) auto;

  @include breakpoint($bp-tablet) {
    grid-template-rows: var(--header-height) minmax(1px, min-content) rem(70px) rem(70px) auto auto;
  }
}

.o-hero-media--top-bottom .o-hero-media__bg-decoration {
  @extend %two-images-background;
}

.o-hero-media--top-bottom__image {
  @extend %two-images-layout; 

  grid-row: 3 / span 3;
  grid-column: col 1 / span 12;

  @include breakpoint($bp-tablet) {
    grid-row: 2/ span 3;
    grid-column: 8 / span 6;
  }
}

.o-hero-media--top-bottom__text-wrapper {
  @extend %text-wrapper-layout;
}

.o-hero-media--top-bottom__image-short {
  grid-row: 1 / span 5;
}

.o-hero-media--top-bottom__image-tall {
  grid-row: 2 / span 6;
}

.o-hero-media--top-bottom__breadcrumbs {
  @extend %two-images-breadcrumbs;
}

// Bottom-Top Variation 
.o-hero-media--bottom-top {
  @extend %o-hero-media-core;
  grid-template-rows: var(--header-height) minmax(1px, min-content) auto auto rem(250px) rem(30px) auto;

  @include breakpoint($bp-tablet) {
    grid-template-rows: var(--header-height) minmax(1px, min-content) rem(70px) rem(70px) auto auto;
  }
}

.o-hero-media--bottom-top .o-hero-media__bg-decoration {
  @extend %two-images-background;
}

.o-hero-media--bottom-top__image {
  @extend %two-images-layout; 

  grid-row: 3 / span 3;
  grid-column: col 1 / span 12;

  @include breakpoint($bp-tablet) {
    grid-row: 2/ span 4;
    grid-column: 8 / span 6;
  }
}

.o-hero-media--bottom-top__text-wrapper {
  @extend %text-wrapper-layout;
}

.o-hero-media--bottom-top__image-tall {
  grid-row: 2/ span 6;
  grid-column: 1;
}

.o-hero-media--bottom-top__image-short {
  grid-row: 1 / span 5;
  grid-column: 2;
}

.o-hero-media--bottom-top__breadcrumbs {
  @extend %two-images-breadcrumbs;
}
