%text-wrapper-layout {
  grid-row: 5;
  grid-column: col 1/ span 12;

  @include breakpoint($bp-tablet) {
    grid-row: 2;
    grid-column: col 1/ span 6;
  }
}

// Two-Images-1 Variation 
.o-hero-media--two-images-1 {
  @extend %o-hero-media-core;
}

.o-hero-media--two-images-1 .o-hero-media__bg-decoration {
  @extend %o-hero-media__bg-decoration;
}


%two-images-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: rem(10px);
}

.o-hero-media--two-images-1__image {
  @extend %two-images-layout; 

  grid-row: 2;
  grid-column: col 1 / span 12;

  @include breakpoint($bp-tablet) {
    grid-row: 2/ span 3;
    grid-column: 8 / span 6;
  }
}


.o-hero-media--two-images-1__text-wrapper {
  @extend %text-wrapper-layout;
}

.o-hero-media--two-images-1__image-first {
  grid-row: 1 / span 3;
}

.o-hero-media--two-images-1__image-second {
  grid-row: 2 / span 3;
}




// Two-Images-2 Variation 
.o-hero-media--two-images-2 {
  @extend %o-hero-media-core;

  @include breakpoint($bp-tablet) {
    grid-template-rows: rem(160px) 1fr rem(70px) rem(70px) rem(70px) auto;
  }
}

.o-hero-media--two-images-2 .o-hero-media__bg-decoration {
  @extend %o-hero-media__bg-decoration;
}

.o-hero-media--two-images-2__image {
  grid-row: 2;
  grid-column: col 1 / span 12;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: rem(10px);

  @include breakpoint($bp-tablet) {
    grid-row: 2/ span 4;
    grid-column: 8 / span 6;
  }
}

.o-hero-media--two-images-2__text-wrapper {
  @extend %text-wrapper-layout;
}

.o-hero-media--two-images-2__image-first {
  grid-row: 2 / span 4;
}

.o-hero-media--two-images-2__image-second {
  grid-row: 1 / span 4;
}