%text-wrapper-layout {
  grid-row: 4;
  grid-column: col 1/ span 12;
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  z-index: 0;

  @include breakpoint($bp-tablet) {
    grid-column: col 1/ span 6;
  }
}

%two-images-breadcrumbs {
  @extend .o-hero-media__breadcrumbs;
}

%two-images-background {
  @extend %o-hero-media__bg-decoration;
}

%image-wrapper-layout {
  grid-column: col 1 / span 12;
  grid-row: 5 / span 4;

  @include breakpoint($bp-tablet) {
    grid-column: col 7 / span 6;
    grid-row: 3 / span 5;
  }
}

%image-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: calc(var(--spacer) * 0.33);
  padding: var(--spacer) 0;
}

// Top-Bottom Variation 
.o-hero-media--top-bottom {
  @extend %o-hero-media-core;
}

.o-hero-media--top-bottom .o-hero-media__bg-decoration {
  @extend %two-images-background;
}

.o-hero-media--top-bottom__image {
  @extend %image-wrapper-layout;
  @extend %image-layout;
}

.o-hero-media--top-bottom__text-wrapper {
  @extend %text-wrapper-layout;
}

.o-hero-media--top-bottom__image-short {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.o-hero-media--top-bottom__image-tall {
  grid-column: 2;
  grid-row: 1 / span 4;
  align-self: end;
}

.o-hero-media--top-bottom__breadcrumbs {
  @extend %two-images-breadcrumbs;
}

// Bottom-Top Variation 
.o-hero-media--bottom-top {
  @extend %o-hero-media-core;
}

.o-hero-media--bottom-top .o-hero-media__bg-decoration {
  @extend %two-images-background;
}

.o-hero-media--bottom-top__image {
  @extend %image-wrapper-layout;
  @extend %image-layout;
}

.o-hero-media--bottom-top__text-wrapper {
  @extend %text-wrapper-layout;
}

.o-hero-media--bottom-top__image-tall {
  grid-column: 1;
  grid-row: 1 / span 4;
  align-self: end;
}

.o-hero-media--bottom-top__image-short {
  grid-column: 2;
  grid-row: 1 / span 3;
}

.o-hero-media--bottom-top__breadcrumbs {
  @extend %two-images-breadcrumbs;
}
