//Core Layout
%o-hero-media-core {
  // @extend %l-section;
  display: grid;
  grid-template-columns: [alpha] 1fr repeat(12, [col] minmax(1px, calc((65rem - (var(--spacer) * 11)) / 12))) 1fr [omega];
  grid-column-gap: var(--spacer);
  grid-template-rows: rem(160px) auto rem(70px) rem(70px) auto;
}

.o-hero-media__bg-decoration {
  grid-row: 1/ span 3;
  grid-column: alpha / omega;
  background-color: palette(teal, 1000);

  img {
    @include breakpoint($bp-tablet-small) {
      max-height: rem(680px);
    }
  }
}

// Core text.
%o-hero-media__text-core {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
  padding-right: calc(var(--spacer) / 2);
  padding-left: calc(var(--spacer) / 2);
  width: 100%;

  @include breakpoint($bp-phone-large) {
    padding-right: var(--spacer);
    padding-left: var(--spacer);
    max-width: $bp-banner-max;
  }

  @include breakpoint($bp-banner-max) {
    padding-right: 0;
    padding-left: 0;
  }
}

// Core image.
.o-hero-media__image {
  position: relative;
  border-radius: rem(12px);
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover
  }

  picture {
    height: 100%;
  }
}

// Core image title-prefix.
%o-hero-media__title-prefix-core {
  @extend %a-type--xsmall;
  
  position: relative;
  display: inline-block;
  margin-bottom: calc(var(--spacer) / 2);
  text-transform: uppercase;
  color: var(--c-heading-prefix);

  &::before {
    position: absolute;
    display: block;
    left: -15px;
    width: 3px;
    height: 100%;
    background-color: var(--c-heading-prefix-decoration);
    content: '';
  }
}

.o-hero-media__title-prefix {
  @extend %o-hero-media__title-prefix-core;
}

.o-hero-media__title {
  display: block;
  color: var(--c-heading-main-title);
}

.o-hero-media__tags {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacer) / 2);
  margin-top: rem(26px);
}

.o-hero-media__credentials {
  color: var(--c-heading-credentials);
  margin-top: rem(34px);
}

// Only Text variation
.o-hero-media__text--text-wrapper {
  @extend %o-hero-media__text-core;

  padding-top: rem(90px);
  padding-bottom: rem(110px);
}


// Video variation 
.o-hero-media--video {
  @extend %o-hero-media-core;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.o-hero-media--video__image {
  grid-row: 2;
  grid-column: col 1 / span 12;

  @include breakpoint($bp-tablet-small) {
    grid-row: 2;
    grid-column: col 2 / span 10;
  }
}

.o-hero-media--video__text-wrapper {
  grid-row: 5;
  grid-column: col 1/ span 12;

  @include breakpoint($bp-tablet-small) {
    grid-row: 5;
    grid-column: col 3/ span 8;
  }
}

// Landscape Variation
.o-hero-media--landscape {
  @extend %o-hero-media-core;
}

.o-hero-media--landscape__image {
  grid-row: 2;
  grid-column: col 1 / span 12;
  
  @include breakpoint($bp-tablet-small) {
    grid-row: 2;
    grid-column: col 2 / span 10;
  }
}

.o-hero-media--landscape__text-wrapper {
  grid-row: 5;
  grid-column: col 1/ span 12;

  @include breakpoint($bp-tablet-small) {
    grid-row: 5;
    grid-column: col 3/ span 8;
  }
}


// Portrait Variation 
.o-hero-media--portrait {
  @extend %o-hero-media-core;
  display: grid;
}

.o-hero-media--portrait__image {
  grid-row: 2;
  grid-column: col 1 / span 12;

  @include breakpoint($bp-tablet-small) {
    grid-row: 2/ span 3;
    grid-column: 8 / span 6;
  }
  
}

.o-hero-media--portrait__text-wrapper {
  grid-row: 5;
  grid-column: col 1/ span 12;

  @include breakpoint($bp-tablet-small) {
    grid-row: 2;
    grid-column: col 1/ span 6;
  }
}