.m-breadcrumbs {
  @extend %a-type--xsmall;

  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;

  display: flex;
  flex-wrap: wrap;

  @include breakpoint($bp-tablet-small) {
    display: block;
  }
}

.m-breadcrumbs__item {
  display: inline;
  min-width: rem(30px);

  &:last-child {
    .m-breadcrumbs__label {
      color: var(--c-breadcrumbs-text);
    }
  }
}

.m-breadcrumbs__link {
  color: var(--c-breadcrumbs-link);

  &:link {
    text-decoration: none;
  }
  
  &:hover,
  &:active {
    text-decoration: underline;
    color: var(--c-link);
  }
}

.m-breadcrumbs__label {
  font-style: italic;
}