.m-breadcrumbs {
  @extend %a-type--xsmall;

  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  font-style: italic;
  text-overflow: ellipsis;
}

.m-breadcrumbs__item {
  display: inline;
  min-width: rem(30px);
}

.m-breadcrumbs__link {
  color: var(--c-breadcrumbs-link);

  &:link {
    text-decoration: none;
  }
  
  &:hover,
  &:active {
    text-decoration: underline;
    color: var(--c-link);
  }
}

.m-breadcrumbs__label {
  color: var(--c-breadcrumbs-text);
}