{% set breadcrumbs = breadcrumbs|default([['Home','/'],['Level 1',''],['Level 2','/some-url.html']]) %}

{% if breadcrumbs %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" class="m-breadcrumbs__nav">
    <h2 class="visually-hidden" id="system-breadcrumb">{{ 'Breadcrumbs'|t }}</h2>
    
    <ol class="m-breadcrumbs">
      
      {% for item in breadcrumbs %}
        {% include '@molecules/breadcrumbs/breadcrumbs-item.twig' with {
            url: item.url,
            text: item.text,
          } only 
        %}
      {% endfor %}
      
    </ol>
  </nav>
{% endif %}
