// Buttons have containing boxes and are applied to <a> <button> and <input type=button>
// See "a-links" for elements  that appear like text links without a containing element

// Core Button
%a-button--base-core {
  display: inline-block;
  align-items: center;
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  appearance: none;
  border-radius: rem(44px); 
  position: relative;
}

%a-button--core {
  @extend %a-button--base-core;
  @extend %a-type--button;
}

// Default Padding (Medium)
%a-button--padding {
  padding: rem(4px) rem(40px) rem(4px) rem(20px);
}

%a-button--small-width {
  width: fit-content !important;
}

// %a-button--small-padding {
//   padding: ru(0.25);
// }

// %a-button--large-padding {
//   padding: ru(1) ru(1.5);
// }

// Default Style and Icons with text
%a-button-t {
  border: 1px solid var(--c-button-border);
  background-color: var(--c-button);
  color: var(--c-button-text);
  min-height: rem(40px);

  svg {
    color: var(--c-button-svg);
    fill: currentColor;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: var(--c-button-border--active);
    background-color: var(--c-button--active);
    color: var(--c-button-text--active);

    svg {
      color: var(--c-button-svg--active);
      fill: currentColor;
    }
  }
}

.a-button {
  @extend %a-button-t;
}

// Secondary Button Style
%a-button--secondary {
  display: inline-block;
  border-radius: 0;
  color: var(--c-button-text--secondary);
  min-height: rem(40px);
  
  svg {
    position: absolute;
    bottom: rem(12px);
    transform: translate(5px, 0px);
    margin-left: calc(var(--spacer) * 0.1);
    width: 0.6em;
    height: 0.7em;
    color: var(--c-button--secondary-svg);
    fill: currentColor;
    transition: 0.2s cubic-bezier(.12,.78,.74,.9);
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    // border-color: var(--c-button-border--secondary);
    color: var(--c-button-text--secondary--active);
    
    svg {
      margin-left: calc(var(--spacer) * 0.3);;
      color: var(--c-button--secondary-svg--active);
      fill: currentColor;
    }
  }
}

// Icon Button Style (No visible text)
%a-button--icon {
  border: rem(1px) solid var(--c-button-border--secondary);
  color: var(--c-button-text--secondary);
  border-radius: rem(10px);
  border: rem(1px) solid transparent;
  background-color: rgba(#F0FCFF, 0.7);

  svg {
    fill: var(--c-button-text--secondary);
    stroke: var(--c-button-text--secondary);
  }

  &:hover,
  &:focus,
  &:active {
    border: rem(1px) solid palette(teal, 300);
    // border: rem(1px) solid var(--c-button-border--secondary--active);
    color: var(--c-button-text--secondary--active);
    background-color: var(--c-button-icon-bg--active);
    // box-shadow: 0px rem(4px) rem(10px) rgba(62, 19, 77, 0.09);

    svg {
      fill: var(--c-button-text--secondary--active);
      stroke: var(--c-button-text--secondary--active);
    }
  }
}

%a-button,
.a-button {
  @extend %a-button--core;
  @extend %a-button--padding;
  @extend %a-button;
  @extend %a-button--small-width;
}

.a-button {
  svg {
    position: absolute;
    bottom: rem(12px);
    transform: translate(5px, 0px);
    margin-left: calc(var(--spacer) * 0.1);
    width: 0.6em;
    height: 0.7em;
    transition: 0.2s cubic-bezier(.12,.78,.74,.9);
  }

  &:hover,
  &:focus,
  &:active {

    svg {
      margin-left: calc(var(--spacer) * 0.3);;
    }
  }
}

%a-button--secondary,
.a-button--secondary {
  @extend %a-button--core;
  @extend %a-button--padding;
  @extend %a-button--secondary;
  @extend %a-button--small-width;
}

%a-button__icon--core {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
}

%a-button--bordered {
  border: rem(1px) solid palette(teal);
  color: palette(teal);
  border-radius: rem(10px);
  transition: 0.2s cubic-bezier(.12,.78,.74,.9);
  height: rem(57px);
  display: flex;
  align-items: center;

  &:hover,
  &:focus,
  &:active {
    color: palette(white);
    background-color: palette(teal);
  }
}

.a-button--icon-right {
  @extend %a-button--core;
  @extend %a-button--padding;
  @extend %a-button;
}

.a-button--icon-right__icon {
  @extend %a-button__icon--core;
  margin-left: ru(0.5);
}

.a-button--icon-left {
  @extend %a-button--core;
  @extend %a-button;
  @extend %a-button--bordered;
  padding: rem(4px) rem(20px) rem(4px) rem(40px);

  &:hover,
  &:focus,
  &:active {
    .a-button--icon-left__icon {
      transform: translate( -45%, 50%);
    }
  }
}

.a-button--icon-left__icon {
  @extend %a-button__icon--core;
  width: rem(27px);
  height: rem(27px);
  position: absolute;
  bottom: 50%;
  left: rem(25px);
  transform: translate( -50%, 50%);
}

.a-button--icon {
  @extend %a-button--core;
  @extend %a-button--icon;
  padding: ru(0.5);
}

.a-button--icon__icon {
  @extend %a-button__icon--core;
  width: rem(26px);
  height: rem(26px);
}

// button position
.a-button--right {
  margin-left: auto;
  margin-right: 0;
}

.a-button--left {
  margin-left: 0;
  margin-right: auto;
}

.a-button--center {
  margin: 0 auto;
}

.a-button--external-link {
  svg {
    width: 0.7em;
    height: 0.8em;
  }
}

.adminspring-preview {
  .a-button--left {
    display: block;
    margin-left: 0;
    margin-right: auto;
  }
  
  .a-button--center {
    display: block;
    margin: 0 auto;
  }

  .a-button--right {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}

// Text Button appear visually like a-links
// They are used when text buttons appear next to buttons to allow them align vertically

// %a-button--link,
// .a-button--link {
//   @extend %a-button--core;
//   @extend %a-button--padding;
//   @extend %a-link;
// }

// NOT our domain, nor #, nor starts with slash
// Update with the domain for the site.
//   &:not([href^='example_url']):not([href^='#']):not([href^='/']) {
//     .a-button__icon {
//       display: block;
//     }
//   }
// }

// @todo - Preview clips icon in PL on chrome
// .a-button--external-link {
//   @extend %a-button--link;

//   .a-button__icon {
//     display: none;
//   }

//   &:not([href^='example_url']):not([href^='#']):not([href^='/']) {

//     .a-button__icon {
//       display: block;
//     }
//   }
// }

// .a-button--full-width {
//   @extend %a-button--core;
//   @extend %a-button--primary;
//   @extend %a-button--padding;

//   width: 100%;
// }
