// Home Page header
.o-hero-media--carousel__image-slick-carousel {
  display: none;

  .slick-initialized {
    display: block;
  }
}

.o-hero-media--carousel {
  display: grid;
  grid-template-columns: [alpha] 1fr repeat(12, [col] minmax(1px, calc((65rem - (var(--spacer) * 11)) / 12))) 1fr [omega];
  grid-template-rows: var(--header-height) minmax(var(--spacer), auto) auto auto auto;
  grid-column-gap: var(--spacer);
  row-gap: var(--spacer);


  @include breakpoint($bp-tablet) {
    grid-template-rows: var(--header-height) minmax(var(--spacer), auto) auto rem(70px) rem(70px) auto;
    row-gap: 0;
  }

  @include breakpoint($bp-large) {
    grid-template-rows: var(--header-height) minmax(var(--spacer), auto) 1fr rem(50px) rem(250px) auto;
    row-gap: 0;
  }
}

.o-hero-media--carousel__bg-decoration {
  @extend %o-hero-media__bg-decoration;

  grid-row: 1 / span 3 !important;
}

.o-hero-media--carousel__image {
  grid-column: col 1 / span 12;
  position: relative;

  @include breakpoint($bp-tablet) {
    grid-column: 7 col / span 6;
    grid-row:  3 / span 3;
    padding-top: var(--spacer);
  }
}

.o-hero-media--carousel__image-button {
  position: absolute;
  right: 0;
  top: calc(var(--spacer) * 1.2);
  z-index: 1;
  width: rem(55px);
  height: rem(55px);
  background-color: palette(white);
  border-radius: 50%;
  filter: drop-shadow(0px 15px 30px rgba(30, 56, 102, 0.1));
  
  @include breakpoint($bp-tablet) {
    top: calc(var(--spacer)*1.65);
  }

  &:hover,
  &:focus,
  &:active {
    filter: drop-shadow(0px 7px 15px rgba(30, 56, 102, 0.3))
  }
}

.o-hero-media--carousel__image-button__inner-el {
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 27%, rgb(0, 128, 163) 27%, rgb(0, 128, 163) 38%, rgb(255, 255, 255) 38%, rgb(255, 255, 255) 62%, rgb(0, 128, 163) 62%, rgb(0, 128, 163) 73%, rgb(255, 255, 255) 73%);
  background-position: center;
  background-repeat: no-repeat;


  .o-hero-media--carousel__image-button.paused & {
    display: block;
    margin: auto;
    width: 0;
    height: 0;
    background-image: none;
    border-style: solid;
    border-width: 11px 0 11px 20px;
    border-color: transparent transparent transparent palette(teal, 300);
    transform: translate(3px, 0 );
    transition: 0.2s background-image ease;
  }
}

.o-hero-media--carousel__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: 0 0 rem(20px);

  grid-column: col 1 / span 12;
  grid-row: 3;
  z-index: 0;


  @include breakpoint($bp-tablet) {
    grid-column: col 1 / span 6;
    grid-row: 3;
    padding-top: var(--spacer);
  }
}


.o-hero-media--carousel__lower-section {
  grid-column: col 1 / span 12;
  
  @include breakpoint($bp-tablet) {
    grid-row: 5/ span 2;
    grid-column: col 1 / span 9;
  }
}

.o-hero-media--carousel__lower-section-title {
  margin-bottom: rem(70px);
}

.o-hero-media--carousel__image-slick-carousel {
  position: relative;
  z-index: 0;
}

.o-hero-media--carousel__image-slick-carousel .slick-list {
  height: 100% !important;
  overflow: hidden;
}

.o-hero-media--carousel__image-slick-carousel .slick-slide {
  width: 100% !important;

  //Safary specific styles
  will-change: transform, opacity;
  transform: translate3d(0, 0, 0);
  // -webkit-transition-property: opacity;
}

.o-hero-media--carousel__image-slick-carousel .slick-track {
  display: flex;

  //Safary specific styles
  will-change: transform, opacity;
  transform: translate3d(0, 0, 0);
  //end Safary specific styles
}

//Safary specific styles
img {
  transform: translate3d(0,0,0);
}

.o-hero-media--carousel__image-slick-carousel .m-carousel-img-group {
  .m-carousel-img-group__image_1,
  .m-carousel-img-group__image_2,
  .m-carousel-img-group__image_3,
  .m-carousel-img-group__image_4 {
    will-change: opacity;
    transform: translate3d(0, 0, 0);
  }
}
//end Safary specific styles

%image-fade-in {
  -webkit-animation-name: imageFadeIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: cubic-bezier(.17,.67,0,.17);

  animation-name: imageFadeIn;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: cubic-bezier(.17,.67,0,.17);
}

.o-hero-media--carousel__image-slick-carousel .slick-slide.slick-current {
  .m-carousel-img-group__image_1,
  .m-carousel-img-group__image_2,
  .m-carousel-img-group__image_3,
  .m-carousel-img-group__image_4 {
    opacity: 0;
    @extend %image-fade-in;
  }
}

.o-hero-media--carousel__image-slick-carousel .slick-slide.slick-current {
  .m-carousel-img-group__image_1 {
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms;

    -webkit-animation-duration: 4950ms;
    animation-duration: 4950ms;
  }
  
  .m-carousel-img-group__image_2 {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 4900ms;
    animation-duration: 4900ms;
  }
  
  .m-carousel-img-group__image_3 {
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    -webkit-animation-duration: 4850ms;
    animation-duration: 4850ms;
  }
  
  .m-carousel-img-group__image_4 {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-duration: 4800ms;
    animation-duration: 4800ms;
  }
}

@-webkit-keyframes imageFadeIn {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  100%  {
    opacity: 1;
  }
} 

@keyframes imageFadeIn {
  0%  {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
} 

@media (prefers-reduced-motion) {
  /* styles to apply if a user's device settings are set to reduced motion */
  .m-carousel-img-group__image_1,
  .m-carousel-img-group__image_2,
  .m-carousel-img-group__image_3,
  .m-carousel-img-group__image_4 {
    
      animation: none;
    
  }
}