<div class="field field--name-thumbnail field--type-image field--label-hidden field__item">
  <img src="/themes/utmusic/images/svg/external-link-square-alt.svg" alt="" typeof="foaf:Image" class="image-style-medium">
</div>