<div class="file-drop-area">
  <input {{ attributes }} />
  <span class="file-drop-area__fake-btn button">{{ button_text ?? 'Choose file'|t }}</span>
  <span class="file-drop-area__file-msg">or drag and drop files here</span>
</div>