%a-table,
.a-table,
table {
  display: table;
  width: 100% !important;
  max-width: 100%; // Fix to stop tables with fixed width from overlapping mobile menu.
  border-collapse: separate;

  @media screen and (-ms-high-contrast: active) {
    background: none; // FF & Edge's high contrast does show the background image, so we hide it.
  }

  a {
    @extend %a-link;
  }

  tr:not(.child),
  th:not(.child),
  .dtr-data {
    ul {
      @extend %a-list--unordered;
    }
  }

  caption {
    @extend %a-heading__h3;
    text-align: left;
    padding: 0 ru(0.65);
  }
}

%a-table__cell--core {
  @extend %a-type--small;

  padding: ru(0.25) ru(0.65);
  color: var(--c-table-text);
  
  // borders variation.
  .a-table--borders & {
    border-bottom: 1px solid palette(grey, 900);
  }
}

// Header Cell
%a-table__th,
th {
  @extend %a-table__cell--core;

  vertical-align: top;
  text-align: left;
  font-weight: 700;
}

// Default Cells
%a-table__td,
td {
  @extend %a-table__cell--core;
  vertical-align: top;
}

// Rows and Cells Styles
%a-table__tr,
tr {

  &:nth-child(odd) {
    .a-table--background & {
      background-color: var(--c-table-background);
    }
  }
}

// background variation.
.a-table--background {
  .thead {
    background-color: var(--c-table-background);
  }

  thead + tbody {
    tr {
      &:nth-child(even) {
        background-color: var(--c-table-background);
      }
  
      &:nth-child(odd) {
        background-color: transparent;
      }
    }
  }
}

// text editor style.
.a-table--dark-blue-text {
  color: palette(blue, 300);
}

.a-table--blue-text {
  color: palette(teal, 300);
}

.a-table--one-line-text {
  white-space: nowrap;
}
