/*******
 * CKEditor
 *************/

/* Adjust the size for the style panel */
.cke_combo__styles .cke_combo_button .cke_combo_text {
  width: 125px !important;
}
  
.cke_combopanel__styles {
  width: 350px !important;
}

/*******
 * Focal Point
 *************/

/**
 * @see https://www.drupal.org/project/media_library_media_modify/issues/3382992
 */
.focal-point-preview-link {
  display: none !important;
}

/*******
 * Choices
 *************/

.choices,
.layout-paragraphs-component-form .choices {
  width: 350px;
}

.choices__list--multiple .choices__item,
.layout-paragraphs-component-form .choices__list--multiple .choices__item {
  display: flex;
  margin-right: 0;
  background-color: #003ecc;
  background-color: var(--color-blue-600);
  border-color: #003ecc;
  border-color: var(--color-blue-600);
}

.choices__list--multiple .choices__item.is-highlighted,
.layout-paragraphs-component-form .choices__list--multiple .choices__item.is-highlighted {
  background-color: var(--color-blue-800);
  border-color: var(--color-blue-800);
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button,
.layout-paragraphs-component-form .choices[data-type*=select-multiple] .choices__button,
.layout-paragraphs-component-form .choices[data-type*=text] .choices__button {
  margin-left: auto;
  border-left-color: #ffffff;
  border-left-color: var(--color-white);
  background-size: 10px;
}

.choices__input,
.layout-paragraphs-component-form .choices__input {
  width: 100% !important;
  background-color: #ffffff !important;
  background-color: var(--color-white) !important;
  border: 1px solid var(--input-border-color);
}

.choices__list--dropdown,
.choices__list[aria-expanded],
.layout-paragraphs-component-form .choices__list--dropdown,
.layout-paragraphs-component-form .choices__list[aria-expanded] {
  word-break: normal;
  word-wrap: break-word;
}


/* styles for paragraphs layout icon */
.paragraphs-config-classes-section-layout--icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 1.5rem;
  color: var(--color-white);
  gap: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paragraphs-config-classes-section-layout--icon-wrapper .icon-option-wrapper {
  max-width: 150px;
  width: 15%;
  cursor: pointer;
}

.paragraphs-config-classes-section-layout--icon-wrapper img {
  transition: scale 0.3s ease, box-shadow 0.3s ease;
  scale: 0.9;
}

.paragraphs-config-classes-section-layout--icon-wrapper span {
  color: #003ecc;
  font-size: 14px;
  text-align: center;
  display: block;
  margin-top: 10px;
}

.paragraphs-config-classes-section-layout--icon-wrapper .icon-option-wrapper:hover img,
.paragraphs-config-classes-section-layout--icon-wrapper .icon-option-wrapper.selected img {
  scale: 1;
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-focus);
}