
.m-audio__title h2 {
  text-align: center;
}
.m-audio__description {
  margin-bottom: ru(1);
}
  
.m-audio__item {
  margin-bottom: ru(0.75);

  h2 {
    margin-bottom: ru(0.25);
  }
}

.m-audio__item-track iframe {
  width: 100%;
}


// Audio player
.m-audio-player__wrapper {
  display: flex;
  gap: calc(var(--spacer) * 0.5);

  .m-audio-player {
    display: none;
  }

  button {
    @extend %o-hero-media__info-link;
  }
}
