.m-promo {
  border-radius: rem(24px);
  padding: ru(1.5) ru(0.75);
  background-position: right bottom;
  background-repeat: no-repeat;
  min-height: rem(370px);

  height: 100%;
  background-image: url('../images/texture-right.png');
  background-color: palette(teal, 1000);
  background-size: 205% 130%;
  background-blend-mode: color-burn;
  background-position: 100% center;
  
  @include breakpoint($bp-max) {
    padding: ru(2) ru(1.25);
  }
}

.m-promo__title,
.m-promo__description {
  margin-bottom: ru(1);
}