.m-promo {
  border-radius: rem(24px);
  padding: ru(1.5) ru(0.75);
  background-position: right bottom;
  background-repeat: no-repeat;
  min-height: rem(370px);
  height: 100%;
  background-image: url('../images/noise.svg'), url('../images/texture-right.svg');
  background-color: #A6DCF2;
  background-repeat: repeat, no-repeat;
  background-size: 100px 100px, 200% 200%;
  background-blend-mode: color-dodge, normal; 
  background-position: center, 15% 50%;
  
  @include breakpoint($bp-max) {
    padding: ru(2) ru(1.25);
  }
}

.m-promo__title,
.m-promo__description {
  margin-bottom: ru(1);
}