<div class="m-promo">
  {% if title %}
    <div class="m-promo__title">
      {% include "@atoms/text/headings/heading.twig" with {
        html_element: 'h3',
        appearance: 'h2',
        text: title,
        id: id,
        alignment: 'left',
        directory: directory,
        } only
      %}
    </div>
  {% endif %}

  {% if description  %}
    <div class="m-promo__description">
      {{ description }}
    </div>
  {% endif %}

  {% if link_url and link_label %}
    <div class="m-promo__link">
      {% include '@atoms/button/button.twig' with {
        directory: directory,
        base_class: 'a-button',
        label: link_label,
        variation: '',
        html_element: 'a',
        url: link_url,
        aria_label: title,
        alignment: 'left',
        } only
      %} 
    </div>
  {% endif %}
</div>