.o-footer {
  background-color: palette(blue, 900);
  color: palette(blue, 300);
  grid-template-rows: repeat(2, auto);

  a,
  p {
    color: palette(blue, 300);

    &.o-footer__top-donate__link {
      @extend %a-button--base-core;
      @extend %a-type--small;

      margin-top: var(--spacer);
      padding: 2.5px 15px;
      background-color: palette(white);
      font-weight: 700;
      color: palette(pink, 400);

      &:hover,
      &:focus,
      &:active,
      &.is-active {
        background-color: palette(pink, 400);
        color: palette(white);
      }

    }
  }
}

.o-footer__top {
  grid-row: 1;
  grid-column: col 1/ span 12;
}

.o-footer__bottom {
  grid-row: 2;
  grid-column: col 1/ span 12;
}

%o-footer_container_col {
  &:not(:last-of-type){
    margin-bottom: ru(1.25);
  }

  @include breakpoint($bp-tablet-small) {
    flex: 1 1 0px;
    width: 0;
  }
}

// top container.
.o-footer__top-container {
  @extend %a-type--xsmall;

  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding-top: rem(40px);
  padding-bottom: rem(40px);
  align-items: flex-start;
  border-bottom: 1px solid palette(grey, 850);

  p {
    @extend %a-type--xsmall;
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  h2 {
    color: palette(blue, 300);
  }

  @include breakpoint($bp-tablet-small) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @include breakpoint($bp-tablet) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.o-footer__top-menu,
.o-footer__top-contact,
.o-footer__top-donate,
.o-footer__top-social {
  @extend %o-footer_container_col;
  @extend %u-remove-child--margin-top-bottom;
  flex-basis: 25%;
}

// links shoulb be accessible
.o-footer__top-contact a {
  display: inline-block;
  min-height: rem(24px);
}

.o-footer__menu {
  margin-bottom: ru(1);
}

.o-footer__top-social {
  margin: 0 auto;

  @include breakpoint($bp-tablet-small) {
    margin: 0;
  }
}

// logo.
.o-footer__logo {
  width: 75%;
  max-width: rem(218px);
  padding: rem(5px);
  border: 2px solid transparent;
  transition: background-color 0.3s;
  margin-bottom: rem(30px);

  @include breakpoint($bp-full-nav) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus,
  &:active {
    border: 2px solid white;
    border-radius: rem(10px);
  }
  
  .m-logo {
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
    }
  }

  @include breakpoint($bp-full-nav) {
    margin-right: ru(0.5);
  }
}

// bottom container.
.o-footer__bottom {
  @extend %a-type--xsmall;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: rem(35px);
  padding-bottom: rem(40px);
  gap: rem(43px);

  @include breakpoint($bp-full-nav) {
    padding-top: rem(17px);
    padding-bottom: rem(47px);
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    gap: rem(30px);
  }
}

// social.
.o-footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: rem(6px);
  
  @include breakpoint($bp-tablet-small) {
    justify-content: center;
  }

  .a-button--icon  {
    margin: 0;
    color: palette(white);
    transition: color 0.2s ease-in-out;
    // border: rem(1px) solid transparent;
    padding: rem(8px);
    background: transparent;
    // border: 0;
    font-size: rem(38px);
  }
}

%o-footer__logo {
  margin: ru(1) auto 0;

  a {
    padding: rem(5px);
    border-radius: rem(10px);
    border: rem(1px) solid transparent;

    &:hover,
    &:focus,
    &:active {
      background: none;
      border: rem(1px) solid palette(teal, 300);
    }
  }
}

.o-footer__top-defy {
  @extend %o-footer__logo;

  max-width: ru(3.75);
}

.o-footer__top-uoft {
  @extend %o-footer__logo;

  max-width: ru(5.5);
}

.o-footer__content {
  @extend %u-remove-child--margin-top-bottom;

  & > * {
    color: palette(white);
  }
}

.o-footer__legal {
  text-align: center;

  @include breakpoint($bp-full-nav) {
    text-align: left;
  }
}
