<footer class="o-footer">
  <div class="o-footer__top">
    <div class="o-footer__top-container">
      <div class="o-footer__top-menu">
        <h2 class="a-heading__h4">Resources &amp; Sites</h2>
        <nav aria-labelledby="block-menu-footer-menu" id="block-menu-footer" class="contextual-region">  
          <h2 class="visually-hidden" id="block-menu-footer-menu">Footer Menu</h2>  
          <ul class="m-menu-footer" role="menu">
            <li class="m-menu-footer__item" aria-label="Key Contacts" role="menuitem">
              <a href="/" class="m-menu-footer__link is-active" data-drupal-link-system-path="<front>">Key Contacts</a>
            </li>
            <li class="m-menu-footer__item" aria-label="Acorn" role="menuitem">
              <a href="http://example.com" class="m-menu-footer__link">Acorn</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="o-footer__top-contact">
        <h2 class="a-heading__h4">Contact Us</h2>
        <p><a href="tel:416-978-1221">416-978-1221</a><br><a href="tel:1-800-463-6048">1-800-463-6048</a></p>

        <p>University of Toronto<br>
        21 King's College Circle<br>
        Toronto, Ontario, Canada<br>
        M5S 3J3</p>
      </div>

      <div class="o-footer__top-donate">
        <h2 class="a-heading__h4">Empower the Future of Music</h2>
        <p>Shape Tomorrow's Musical Landscape &amp; Strengthen Canada's Cultural Economy</p><p>
        <a href="https://engage.utoronto.ca/site/SPageServer?pagename=donate&redirect=legacy#/faculty/11" target="_blank" class="o-footer__top-donate__link">
          {{ 'Donate'|t }}
        </a>
      </div>

      <div class="o-footer__top-social">
        <div class="o-footer__social">
          <a href="http://example.com" target="_blank" class="a-button--icon  a-button--left" aria-label="Follow us on Twitter">    
            <div class="u-visually--hidden"></div>
            <svg class="a-button--icon__icon" aria-hidden="true"> 
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/themes/utmusic/dist/icons.svg#social-twitter"></use>
            </svg>
          </a>

          <a href="http://example.com" target="_blank" class="a-button--icon  a-button--left" aria-label="Follow us on Facebook"> 
            <div class="u-visually--hidden"></div>
            <svg class="a-button--icon__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/themes/utmusic/dist/icons.svg#social-facebook"></use>
            </svg>
          </a>

          <a href="http://example.com" target="_blank" class="a-button--icon  a-button--left" aria-label="Follow us on Instagram"> 
            <div class="u-visually--hidden"></div>
            <svg class="a-button--icon__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/themes/utmusic/dist/icons.svg#social-instagram"></use>
            </svg>
          </a>

          <a href="http://example.com" target="_blank" class="a-button--icon  a-button--left" aria-label="Follow us on LinkedIn"> 
            <div class="u-visually--hidden"></div>
            <svg class="a-button--icon__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/themes/utmusic/dist/icons.svg#social-linkedin"></use>
            </svg>
          </a>
          
          <a href="http://example.com" target="_blank" class="a-button--icon  a-button--left" aria-label="Follow us on Youtube"> 
            <div class="u-visually--hidden"></div>
            <svg class="a-button--icon__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/themes/utmusic/dist/icons.svg#social-youtube"></use>
            </svg>
          </a>

        </div>
        
        <div class="o-footer__top-defy">
          <a class="m-logo--image" href="https://defygravitycampaign.utoronto.ca" aria-label="">
            <img class="m-logo--image__img" src="/themes/utmusic/images/Defy_Logo_Footer.svg" alt="Defy Gravity Home">
          </a>
        </div>

        <div class="o-footer__top-uoft">
          <a class="m-logo--image" href="https://www.utoronto.ca" aria-label="">
            <img class="m-logo--image__img" src="/themes/utmusic/images/UofT_Logo_Footer.svg" alt="University of Toronto Home">  
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="o-footer__bottom">
    <div class="o-footer__bottom-links">
      <nav aria-labelledby="block-footer-shortcuts-menu" id="block-footer-shortcuts" class="contextual-region">  
        <h2 class="visually-hidden" id="block-footer-shortcuts-menu">Footer Shortcuts</h2>
        <ul class="m-menu-footer-shortcut-shortcut" role="menu">   
          <li class="m-menu-footer-shortcut__item" aria-label="Accessibility" role="menuitem">
            <a href="/" class="m-menu-footer-shortcut__link is-active" data-drupal-link-system-path="<front>">Accessibility</a>
          </li>
          <li class="m-menu-footer-shortcut__item" aria-label="Privacy" role="menuitem">
            <a href="/" class="m-menu-footer-shortcut__link is-active" data-drupal-link-system-path="<front>">Privacy</a>
          </li>
        </ul>
      </nav>
    </div>

     <div class="o-footer__legal">
      Copyright © 2023 All Rights Reserved.
    </div>
  </div>
</footer>
