<footer class="o-footer">
  <div class="o-footer__top">
    <div class="o-footer__top-container">
      <div class="o-footer__menu">
        <nav aria-labelledby="block-menu-footer-menu" id="block-menu-footer" class="contextual-region">
          <h2 class="visually-hidden" id="block-menu-footer-menu">Footer Menu</h2>
          <ul class="m-menu-footer">
            <li class="m-menu-footer__item">
              <a href="/praesent-ac-massa-ligula-laoreet-iaculis-proin-pretium-leo-ac-pellentesque-mollis-felis-nunc" class="m-menu-footer__link" data-drupal-link-system-path="node/2">Menu link title 1</a>
            </li>
            <li class="m-menu-footer__item">
              <a href="/praesent-ac-massa-ligula-laoreet-iaculis-proin-pretium-leo-ac-pellentesque-mollis-felis-nunc" class="m-menu-footer__link" data-drupal-link-system-path="node/2">Menu link title 2</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="o-footer__social">
        <a href="http://example.com" target="_blank" class="a-button--icon" aria-label="Follow us on Facebook">
        <div class="u-visually--hidden"></div><svg class="a-button--icon__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons.svg#facebook-square"></use></svg></a> <a href="http://example.com" target="_blank" class="a-button--icon" aria-label="Follow us on LinkedIn">
        <div class="u-visually--hidden"></div><svg class="a-button--icon__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons.svg#linkedin"></use></svg></a> <a href="http://example.com" target="_blank" class="a-button--icon" aria-label="Follow us on Twitter">
        <div class="u-visually--hidden"></div><svg class="a-button--icon__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons.svg#twitter-square"></use></svg></a> <a href="http://example.com" target="_blank" class="a-button--icon" aria-label="Follow us on Instagram">
        <div class="u-visually--hidden"></div><svg class="a-button--icon__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons.svg#instagram-square"></use></svg></a> <a href="http://example.com" target="_blank" class="a-button--icon" aria-label="Follow us on Youtube">
        <div class="u-visually--hidden"></div><svg class="a-button--icon__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons.svg#youtube-squar"></use></svg></a>
      </div>
    </div>
  </div>
  <div class="o-footer__bottom">
    <div class="o-footer__bottom-container">
      <div class="o-footer__content">
        Duis lobortis massa imperdiet quam
      </div>
    </div>
    <div class="o-footer__shortcuts">
      <nav aria-labelledby="block-footer-shortcuts-menu" id="block-footer-shortcuts" class="contextual-region">
        <h2 class="visually-hidden" id="block-footer-shortcuts-menu">Footer Shortcuts</h2>
      </nav>
    </div>
    <div class="o-footer__legal">
      © 2023 All rights reserved.
    </div>
  </div>
</footer>