// Container for max-width
.o-header__top-contain {
  display: none;

  @include breakpoint($bp-full-nav) {
    display: flex;
    margin: 0 auto;
  } 
}

// Parent Site link
.o-header__parent-site-link {
  border-right: 1px solid palette(blue, 300);
  background-size: 0;
  padding-right: ru(0.5);
  padding-left: ru(0.5);

  .o-header__parent-site-link__svg {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: -1px;
    fill: currentColor;
  }
}

// Shortcuts (secondary links)
.o-header__shortcuts {
  display: none;

  @include breakpoint($bp-full-nav) {
    display: flex;
    margin-left: auto;
  }
}

.o-header__search {
  background-color: palette(grey, 900);

  &:hover {
    background-color: palette(grey, 400);
  }

  &:hover .a-btn-icon--sml svg {
    color: palette(white);
  }

  .a-btn-icon--sml {
    background-color: transparent;
    min-height: 100%;

    .a-btn__text {
      @extend %u-visually--hidden;
    }

    svg {
      color: palette(blue);
    }
  }
}

// Logo, Mobile menu toggle
.o-header__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-right: ru(0.5);
  margin-left: ru(0.5);
  padding: ru(0.25) 0;
  border-bottom: 1px solid #6FC7EA;
  max-width: $bp-max;

  @include breakpoint($bp-phone-large) {
    padding: ru(0.7) 0;
  }

  @include breakpoint($bp-full-nav) {
    align-items: center;
    padding: ru(0.7);
    margin-right: auto;
    margin-left: auto;
    border-bottom: 0;
  }

  @include breakpoint($bp-max + $gutter-px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.o-header__logo {
  width: 75%;
  max-width: rem(250px);

  @include breakpoint($bp-large) {
    max-width: rem(380px);  
  }
}

.o-header__menu-main {
  display: none;

  @include breakpoint($bp-full-nav) {
    display: block;
    margin-left: auto;
  }
}

.l-page__menu-main-wrapper {
  display: none;

  @include breakpoint($bp-full-nav) {
    display: block;
  }
}

.l-page__menu-main {
  margin-right: auto;
  margin-left: auto;
  max-width: $bp-max;
}

.o-header__language-and-mobile-btn-wrapper {
  display: flex;
  align-items: center;
}

// Mobile menu triger button.
.o-header__mobile-btn-menu-triger {
  height: rem(62px);
  margin-left: rem(15px);
  display: flex;
  align-items: center;

  a {
    padding: 0;
    background: 0;
    border: 0;
    font-size: rem(62px);
    line-height: 0;
    color: palette(black);

    &:hover,
    &:focus,
    &:active {
      background: 0;
      border: 0;
    }
  }

  @include breakpoint($bp-full-nav) {
    display: none;
  }
}