<header class="o-header">
  <div class="o-header__top">
    <div class="o-header__top-contain">

      <div class="o-header__shortcuts">
        {{ header_shortcuts }}
      </div>

      <div class="o-header__search">
        {% include '@atoms/button/button.twig' with {
            directory: directory,
            variation: 'icon',
            html_element: 'a',
            url: '/search',
            id: 'toggle-icon',
            aria_label: 'Search this site'|t,
            icon: 'search',
          } only
        %}
      </div>

    </div>
  </div>

  <div class="o-header__bottom">
    <div class="o-header__logo">
      {% include "@molecules/logo/logo.twig" with {
          directory: directory,
          logo_icon: 'logo',
          logo_icon_size: logo_icon_size,
          logo_icon_color: logo_icon_size,
          logo_aria_label: 'UTMusic',

          url: front_page,
          site_name: site_name,
        } only
      %}
    </div>

    {% if language_selector %}
      <div class="o-header__language-and-mobile-btn-wrapper">
        {{ language_selector }}
    {% endif %}

      <div class="o-header__mobile-btn-menu-triger">
        {% include '@atoms/button/button.twig' with {
            directory: directory,
            variation: 'icon',
            html_element: 'a',
            url: '#menu-mobile',
            id: 'toggle-icon',
            aria_label: 'Menu'|t,
            icon: 'hamburger'
          } only
        %}
      </div>

    {% if language_selector %}
      </div>
    {% endif %}
  </div>
</header>
