<div class="l-page__header">
  <header class="o-header">
    <div class="o-header__top">
      <div class="o-header__top-contain">
        <div class="o-header__shortcuts">
          <nav role="navigation" aria-labelledby="block-header-shortcuts-menu" id="block-header-shortcuts" class="contextual-region">
            <h2 class="visually-hidden" id="block-header-shortcuts-menu">Header Shortcuts</h2>
          </nav>
        </div>
        <div class="o-header__search">
          <a href="/search" id="toggle-icon" class="a-button--icon" aria-label="Search this site">
          <div class="u-visually--hidden"></div><svg class="a-button--icon__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons.svg#magnifying-glass"></use></svg></a>
        </div>
      </div>
    </div>
    <div class="o-header__bottom">
      <div class="o-header__logo">
        <a class="m-logo--image" href="/" aria-label=""><img class="m-logo--image__img" src="/sites/default/files/assets/logo/logo.png" alt=" Home" width="970" height="360"></a>
      </div>
      <div class="o-header__mobile-btn">
        <a href="#menu-mobile" id="toggle-icon" class="a-button--icon" aria-label="Menu">
        <div class="u-visually--hidden"></div><svg class="a-button--icon__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons.svg#bars-solid"></use></svg></a>
      </div>
      <div class="o-header__slogan">
        Vestibulum purus quam scelerisque ut
      </div>
    </div>
  </header>
</div>
<div class="l-page__menu-main-wrapper">
  <div class="l-page__menu-main">
    <nav role="navigation" aria-labelledby="menu-main-menu" id="menu-main" class="contextual-region m-menu-main" data-menu-main="">
      <h2 class="visually-hidden" id="menu-main-menu">Main Menu</h2>
      <ul class="m-menu-main__list--level-1 js-menu-main__list">
        <li class="m-menu-main__item--level-1 js-menu-main__item">
          <a href="/praesent-ac-massa-ligula-laoreet-iaculis-proin-pretium-leo-ac-pellentesque-mollis-felis-nunc" class="m-menu-main__link--level-1" data-drupal-link-system-path="node/2">Menu link 1</a>
          <div class="m-menu-main__panel js-menu-main__panel">
            <ul class="m-menu-main__list--level-2">
              <li class="m-menu-main__item--level-2">
                <a href="/news/hac-habitasse-platea-dictumst-2" class="m-menu-main__link--level-2" data-drupal-link-system-path="node/1">Menu link 1-1</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-menu-main__item--level-1 is-active js-menu-main__item">
          <a href="/news/hac-habitasse-platea-dictumst-2" class="m-menu-main__link--level-1" data-drupal-link-system-path="node/1">Menu link 2</a>
          <div class="m-menu-main__panel js-menu-main__panel">
            <ul class="m-menu-main__list--level-2">
              <li class="m-menu-main__item--level-2">
                <a href="/news/hac-habitasse-platea-dictumst-2" class="m-menu-main__link--level-2" data-drupal-link-system-path="node/1">Menu link 1-2</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-menu-main__item--level-1 js-menu-main__item">
          <a href="/news/hac-habitasse-platea-dictumst-2" class="m-menu-main__link--level-1" data-drupal-link-system-path="node/1">Menu link 3</a>
        </li>
      </ul>
    </nav>
  </div>
</div>