// All the palettes below are intended to have black on the colour and tested for a11y.

// Global Defaults Theme Colors

// Not that for CSS Vars in dart sass it needs to be evaulated. 
// See https://sass-lang.com/documentation/breaking-changes/css-vars

// Dark Text on a light background
:root,
%theme--light-bg,
.theme--light-bg,
.adminspring-theme {
  
  // @atoms/button
  --c-button: #{palette(blue)};
  --c-button--active: #{palette(black)};
  --c-button-border: #{palette(black)};
  --c-button-border--active: #{palette(black)};
  --c-button-text: #{palette(black)};
  --c-button-text--active: #{palette(blue)};

  --c-button--secondary: #{palette(grey, 900)};
  --c-button-border--secondary: #{palette(grey, 900)};
  --c-button--secondary--active: #{palette(grey, 300)};
  --c-button-text--secondary: #{palette(grey, 300)};
  --c-button-text--secondary--active: #{palette(grey, 900)};

  // @atoms/chip
  --c-chip: #{palette(teal, 300)};
  --c-chip--active: #{palette(grey, 300)};
  --c-chip-border: #{palette(grey, 800)};
  --c-chip-border--active: #{palette(grey, 900)};
  --c-chip-background: #{palette(white)};
  --c-chip-background--active: #{palette(grey, 900)};


  // @atoms/image
  --c-image-caption-text: #{palette(grey, 400)};
  --c-figcaptions: #{palette(grey, 400)};

  // @atoms/link
  --c-link: #{palette(teal, 300)};
  --c-link--active: #{palette(blue)};
  --c-link-decoration: #{palette(teal, 300)};
  --c-link-decoration--active: #{palette(blue)};
  // --c-link-icon-external, url('./svg/svg-art/external-link-square-alt.svg')};
  // --c-link-background--active, rgba(#{palette(grey, 400), 0.15)};

  // @atoms/lists
  --c-list-bullet: #{palette(blue, 900)};

  // @atoms/table


  // @atoms/text
  --c-text: #{palette(grey, 300)};
  --c-heading: #{palette(black, 200)};
  --c-heading-decoration: #{palette(teal, 300)};
  --c-heading-main-title: #{palette(teal, 300)};
  --c-heading-prefix: #{palette(black, 200)};
  --c-heading-prefix-decoration: #{palette(teal, 700)};
  --c-heading-summary: #{palette(blue, 300)};
  --c-heading-credentials: #{palette(grey, 300)};
  --c-heading-link: #{palette(teal, 300)};
  --c-heading-link--active: #{palette(blue, 300)};
  // --c-heading-link-icon: #{palette(teal)};

  // @molecules/breadcrumbs
  --c-breadcrumbs-text: #{palette(pink, 400)};
  --c-breadcrumbs-link: #{palette(blue, 300)};

  // @molecules/inline-menu
  --c-inline-menu-text: #{palette(grey, 300)};
  --c-inline-menu-text--active: #{palette(teal, 300)};
  --c-inline-menu-line: #{palette(blue, 900)};
  --c-inline-menu-line--active: #{palette(teal, 300)};

  // @molecules/quote
  --c-quote: #{palette(black, 200)};
  --c-quote--suorce-type: #{palette(blue, 300)};
  --c-quote--suorce-type--bg: #{palette(black, 200)};

  // @molecules/card
  --c-card--horizontal-background: #{palette(blue, 900)};
  --c-card--horizontal-text: #{palette(black, 200)};
  --c-card-background: #{palette(white)};
  --c-card-border: #{palette(black, 200)};
  --c-card-icon-background: #{palette(blue, 300)};
  --c-card-title: #{palette(black, 200)};
  --c-card-title--active: #{palette(black, 200)};
  --c-card--bordered-title: #{palette(black, 200)};
  --c-card--bordered-title--active: #{palette(black, 200)};
  --c-card--bordered-text: #{palette(black, 200)};
  --c-card--image-highlight-below-text: #{palette(black, 200)};
  --c-card--image-highlight-below-bg: #{palette(blue, 300)};
  --c-card--illustration: #{palette(black, 200)};
  --c-card--image-text:  #{palette(black, 200)};

  // @organisms/listing
  --c-listing-item--border: #{palette(teal, 700)};
  --c-listing-item--date: #{palette(grey, 300)};

  //@molecules/social
  --c-social-background: #{palette(blue, 900)};
  --c-social-svg: #{palette(blue, 300)};
  --c-social-heading: #{palette(blue, 300)};


  //pager
  --c-pager--btn: #{palette(blue, 300)};
  --c-pager--btn--hover: #{palette(black, 200)};
  --c-pager--btn-border: #{palette(black, 200)};
  --c-pager--btn-svg: #{palette(black, 200)};
  --c-pager--btn-svg--hover: #{palette(blue, 300)};
  --c-pager--item-active-text: #{palette(white)};
  --c-pager--item-active-bg: #{palette(black, 200)};
  --c-pager--item-text: #{palette(black, 200)};
  --c-pager--item-text--hover: #{palette(white)};
  --c-pager--item-bg: #{palette(blue, 900)};
  --c-pager--item-bg--hover: #{palette(black, 200)};
  --c-pager--item-border: #{palette(black, 200)};
}

// Light text on a dark background
// %theme--dark-bg,
// .theme--dark-bg {

//   // a-type
//   --c-text: #{palette(white)};
//   --c-heading: #{palette(white)};
//   --c-heading-link: #{palette(grey, 900)};
//   --c-heading-link--active: #{palette(white)};
//   --c-heading-link-icon: #{palette(teal)};

//   // a-img  
//   --c-image-caption-text: #{palette(grey, 300)};

//   // a-link
//   --c-link: #{palette(grey, 900)};
//   --c-link--active: #{palette(white)};
//   --c-link-decoration: #{palette(blue, 900)};
//   --c-link-decoration--active: #{palette(white)};
//   // --link-icon-external, url('./svg/svg-art/external-link-square-alt-white.svg')};

//    // @atoms/button
//   --c-button: #{palette(blue)};
//   --c-button--active: #{palette(black)};
//   --c-button-border: #{palette(black)};
//   --c-button-border--active: #{palette(blue)};
//   --c-button-text: #{palette(black)};
//   --c-button-text--active: #{palette(blue)};


//   --c-button--secondary: #{palette(grey, 900)};
//   --c-button-border--secondary: #{palette(grey, 900)};
//   --c-button--secondary--active: #{palette(grey, 300)};
//   --c-button-text--secondary: #{palette(grey, 300)};
//   --c-button-text--secondary--active: #{palette(grey, 900)};

//   // a-list
//   --c-list-bullet: #{palette(blue, 900)};

//   // Inline menu.
//   --c-inline-menu-text: #{palette(grey, 900)};
//   --c-inline-menu-text--active: #{palette(white)};
//   --c-inline-menu-line: #{palette(blue, 950)};
//   --c-inline-menu-line--active: #{palette(white)};

//   // @molecules/quote
//   --c-quote: #{palette(white)};
//   --c-quote--suorce-type: #{palette(blue)};

//   // @molecules/card
//   --c-card--horizontal-background: #{palette(white)};
//   --c-card--horizontal-text: #{palette(black)};
//   --c-card--bordered-illustration: #{palette(black)};
//   --c-card-background: #{palette(white)};
//   --c-card-border: #{palette(white)};
//   --c-card-text: #{palette(white)};
//   --c-card-title: #{palette(white)};
//   --c-card-title--active: #{palette(blue)};
//   --c-card--bordered-title: #{palette(black)};
//   --c-card--bordered-title--active: #{palette(black)};
//   --c-card--bordered-text: #{palette(black)};
//   --c-card--image-text: #{palette(blue)};
//   --c-card--illustration: #{palette(white)};


//   // Follow Us.
//   --follow-us-title-color: #{palette(white)};

//   // @organisms/listing
//   --c-listing-item--border: #{palette(white)};

//   //pager
//   --c-pager--btn: #{palette(blue)};
//   --c-pager--btn--hover: #{palette(black)};
//   --c-pager--btn-border: #{palette(black)};
//   --c-pager--btn-svg: #{palette(black)};
//   --c-pager--btn-svg--hover: #{palette(blue)};
//   --c-pager--item-active-text: #{palette(black)};
//   --c-pager--item-active-bg: #{palette(blue)};
//   --c-pager--item-text: #{palette(black)};
//   --c-pager--item-text--hover: #{palette(black)};
//   --c-pager--item-bg: #{palette(white)};
//   --c-pager--item-bg--hover: #{palette(blue, 900)};
//   --c-pager--item-border: #{palette(black)};
// }

// .theme--white-bg {
//   @extend %theme--light-bg;
//   // Section Background
//   --c-section-background: #{palette(white)};
// }


.theme--light-blue-bg {
  @extend %theme--light-bg;
  // Section Background
  --c-section-background: #{palette(teal, 1000)};
}



// .theme--black-bg {
//   @extend %theme--dark-bg;
//   // Section Background
//   --c-section-background: #{palette(black)};
// }

