// All the palettes below are intended to have black on the colour and tested for a11y.

// Global Defaults Theme Colors

// Not that for CSS Vars in dart sass it needs to be evaulated. 
// See https://sass-lang.com/documentation/breaking-changes/css-vars

// Dark Text on a light background
:root,
%theme--light-bg,
.theme--light-bg,
.adminspring-theme {
  
  // @atoms/button
  --c-button: #{palette(blue, 300)};
  --c-button--active: #{palette(teal, 300)};
  --c-button-border: #{palette(blue, 300)};
  --c-button-border--active: #{palette(teal, 300)};
  --c-button-text: #{palette(white)};
  --c-button-text--active: #{palette(teal, 1000)};

  --c-button-svg: #{palette(teal, 700)};
  --c-button-svg--active: #{palette(teal, 1000)};

  --c-button--secondary: #{palette(grey, 900)};
  --c-button--secondary--active: #{palette(grey, 300)};
  --c-button-border--secondary: #{palette(white)};
  --c-button-border--secondary--active: #{palette(grey, 900)};
  --c-button-text--secondary: #{palette(blue, 300)};
  --c-button-text--secondary--active: #{palette(teal, 300)};
 
  --c-button--secondary-svg: #{palette(teal, 700)};
  --c-button--secondary-svg--active: #{palette(blue, 300)};

  --c-button-icon-bg: #{palette(teal, 1000)};
  --c-button-icon-bg--active: #{palette(white)};

  // @atoms/chip
  --c-chip: #{palette(grey, 300)};
  --c-chip--active: #{palette(grey, 300)};
  --c-chip-border: #{palette(grey, 800)};
  --c-chip-border--active: #{palette(grey, 900)};
  --c-chip-background: #{palette(white)};
  --c-chip-background--active: #{palette(grey, 900)};


  // @atoms/image
  --c-image-caption-text: #{palette(grey, 400)};
  --c-figcaptions: #{palette(grey, 400)};

  // @atoms/link
  --c-link: #{palette(teal, 300)};
  --c-link--active: #{palette(blue)};
  --c-link-decoration: #{palette(teal, 300)};
  --c-link-decoration--active: #{palette(blue)};
  // --c-link-icon-external, url('./svg/svg-art/external-link-square-alt.svg')};
  // --c-link-background--active, rgba(#{palette(grey, 400), 0.15)};

  // @atoms/lists
  --c-list-bullet: #{palette(blue, 900)};

  // @atoms/table


  // @atoms/text
  --c-text: #{palette(grey, 300)};
  --c-heading: #{palette(black, 200)};
  --c-heading-decoration: #{palette(teal, 300)};
  --c-heading-main-title: #{palette(teal, 300)};
  --c-heading-prefix: #{palette(black, 200)};
  --c-heading-prefix-decoration: #{palette(teal, 700)};
  --c-heading-summary: #{palette(blue, 300)};
  --c-heading-credentials: #{palette(grey, 300)};
  --c-heading-link: #{palette(teal, 300)};
  --c-heading-link--active: #{palette(blue, 300)};
  --c-heading-link-icon: #{palette(teal, 300)};
  --c-heading-link-icon--active: #{palette(blue, 300)};

  // @molecules/Accordion
  --c-accordion-item-label: #{palette(blue, 300)};
  --c-accordion-item-svg: #{palette(teal, 700)};
  --c-accordion-item-border: #{palette(teal, 700)};
  --c-accordion-item-text: #{palette(grey, 300)};
  --c-accordion-expand-button-bg: #{palette(teal, 1000)};
  --c-accordion-expand-button-text: #{palette(blue, 300)};


  // @molecules/breadcrumbs
  --c-breadcrumbs-text: #{palette(pink, 400)};
  --c-breadcrumbs-link: #{palette(blue, 300)};

  //@molecules/featured media & @atoms/video
  --c-featured-media-title: #{palette(black, 200)};
  --c-video-caption: #{palette(black, 200)};
  --c-video-caption-border: #{palette(teal, 300)};

  // @molecules/inline-menu
  --c-inline-menu-text: #{palette(grey, 300)};
  --c-inline-menu-text--active: #{palette(teal, 300)};
  --c-inline-menu-line: #{palette(blue, 900)};
  --c-inline-menu-line--active: #{palette(teal, 300)};

  // @molecules/quote
  --c-quote: #{palette(black, 200)};
  --c-quote-text-border: #{palette(teal, 300)};


  // @molecules/card
  --c-card-left-border: #{palette(grey, 800)};
  --c-card-background: #{palette(white)};
  --c-card-title: #{palette(teal, 300)};
  --c-card-title--active: #{palette(black, 200)};
  --c-card-text: #{palette(grey, 300)};
  --c-card--illustration: #{palette(teal, 300)};
  --c-card--illustration-bg: #{palette(teal, 700)};
  --c-card-link: #{palette(blue, 300)};
  --c-card-link--active: #{palette(teal, 300)};

  //@molecules/message
  --c-message-blue-bg: #{palette(white)};
  --c-message-blue-title: #{palette(blue, 300)};
  --c-message-blue-svg: #{palette(blue, 300)};
  --c-message-blue-border: #{palette(teal, 700)};

  --c-message-pink-title: #{palette(blue, 300)};
  --c-message-pink-svg: #{palette(pink, 400)};

  //@molecules/social
  --c-social-background: #{palette(blue, 900)};
  --c-social-svg: #{palette(blue, 300)};
  --c-social-svg--active: #{palette(teal, 300)};
  --c-social-heading: #{palette(blue, 300)};

  //@molecules/sequence
  --c-sequence-title: #{palette(teal, 300)};
  --c-sequence-bg: #{palette(teal, 1000)};
  --c-sequence-vertical-line: #{palette(grey, 900)};

  //@molecules/cta
  --c-cta-text: #{palette(blue, 300)};

  //@molecules/sliding-menu
  --c-sliding-menu-link: #{palette(white)};
  --c-sliding-menu-link--active: #{palette(teal, 700)};


  // @organisms/listing
  --c-listing-item--border: #{palette(grey, 800)};
  --c-listing-item--date: #{palette(grey, 300)};

  //@organisms/listing/listing-item-featured
  --c-news-featured-title:  #{palette(teal, 300)};
  --c-news-featured-border: #{palette(grey, 950)};

  --c-events-featured-title: #{palette(teal, 300)};
  --c-events-featured-date: #{palette(blue, 900)};
  --c-events-featured-bg: #{palette(black, 200)};
  --c-events-featured-border: #{palette(grey, 950)};

  --c-events-carousel-bg: #{palette(teal, 300)};
  --c-events-carousel-date: #{palette(teal, 1000)};
  --c-events-carousel-border: #{palette(grey, 800)};
  --c-events-carousel-title: #{palette(teal, 300)};

  --c-people-title: #{palette(blue, 300)};
  --c-people-title--active: #{palette(teal, 300)};

  //pager
  --c-pager--btn: #{palette(blue, 300)};
  --c-pager--btn--hover: #{palette(teal, 1000)};
  --c-pager--btn-border: #{palette(black, 200)};
  --c-pager--btn-svg: #{palette(teal, 300)};
  --c-pager--btn-svg--hover: #{palette(blue, 300)};
  --c-pager--item-active-text: #{palette(teal, 300)};
  --c-pager--item-active-bg: #{palette(teal, 1000)};
  --c-pager--item-text: #{palette(blue, 300)};
  --c-pager--item-text--hover: #{palette(blue, 300)};
  --c-pager--item-bg: #{palette(blue, 900)};
  --c-pager--item-bg--hover: #{palette(teal, 1000)};
  --c-pager--item-border: #{palette(black, 200)};
}

.theme--pink {
  @extend %theme--light-bg;
  
   // @atoms/button
  --c-button: #{palette(pink, 400)};
  --c-button--active: #{palette(white)};
  --c-button-border: #{palette(pink, 400)};
  --c-button-border--active: #{palette(pink, 400)};
  --c-button-text: #{palette(white)};
  --c-button-text--active: #{palette(pink, 400)};

  --c-button-svg: #{palette(white)};
  --c-button-svg--active: #{palette(pink, 400)};

  --c-button--secondary: #{palette(grey, 900)};
  --c-button-border--secondary: #{palette(grey, 900)};
  --c-button--secondary--active: #{palette(grey, 300)};
  --c-button-text--secondary: #{palette(blue, 300)};
  --c-button-text--secondary--active: #{palette(teal, 300)};
 
  --c-button--secondary-svg: #{palette(pink, 400)};
  --c-button--secondary-svg--active: #{palette(blue, 300)};


  // @atoms/text
  --c-heading-decoration: #{palette(pink, 400)};
}

%theme--blue-light,
.theme--blue-light {
  @extend %theme--light-bg;

  // @atoms/chip
  --c-chip-border: #{palette(white)};

  //@molecules/accordion
  --c-accordion-expand-button-bg: #{palette(white)};
  
  // @organisms/listing
  --c-listing-item--border: #{palette(teal, 700)};
  --c-listing-item--date: #{palette(grey, 300)};
}

.theme--dark-blue-bg {
  @extend %theme--light-bg;

  --c-text: #{palette(white)};

  //@atoms/button
  --c-button-text--secondary: #{palette(white)};
  --c-button-text--secondary--active: #{palette(teal, 700)};
 
  --c-button--secondary-svg: #{palette(teal, 700)};
  --c-button--secondary-svg--active: #{palette(teal, 300)};

  // @atoms/text
  --c-text: #{palette(white)};
  --c-heading: #{palette(white)};


  //@molecules/featured media
  --c-featured-media-title: #{palette(white)};
  --c-heading-decoration: #{palette(teal, 700)};
  --c-video-caption: #{palette(white)};

  //@organisms/listing & listing-item
  --c-events-carousel-title: #{palette(white)};
  --c-events-carousel-border: #{palette(teal, 300)};
}

