.m-listing-item--resources {
  border-bottom: rem(1px) solid palette(grey, 800);
  display: grid;
  column-gap: ru(1);
  row-gap: ru(1);
  padding: ru(1) 0;

  @include breakpoint($bp-tablet) {
    grid-template-columns: 3fr 5fr;
  }

  .a-heading__h2 {
    display: block;
    width: auto;
  }
}

.m-listing-item--resources__description {
  margin-bottom: rem(40px);
  display: block;
  color: palette(grey, 300);
}

.m-listing-item--resources__items {
  .a-file,
  .resources-link-to-form {
    margin-bottom: ru(0.5);
  }
}

.a-external__link--icon-left {
  @extend %a-link-with-icons;

  svg {
    padding: rem(5px);
  }
}

.thumbnail--resources-link-to-form {
  max-width: rem(125px);
}

// preview on edit page
.field--name-field-resources-item {

  .button.entity-browser-processed {
    @extend %a-button;
  }

  .entities-list {
    display: flex;
    flex-wrap: wrap;

    .remove-button,
    .edit-button {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0.75rem;
      width: rem(24px);
      height: rem(24px);
      border-radius: 50%;
      font-size: 0;
      margin: 0;
      cursor: pointer;
      border: none;
      box-shadow: 0 1px 2px 0 1px 2px rgba(0,0,0,0.25);
    }

    .remove-button {
      background-image: url("data:image/svg+xml,%3csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.344 2.343l11.313 11.313M2.344 13.657L13.657 2.343' stroke='%2355565B' stroke-width='3'/%3e%3c/svg%3e");
    }

    .edit-button {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg fill='%23545560'%3e%3cpath d='M14.545 3.042l-1.586-1.585a1.003 1.003 0 00-1.414 0L10.252 2.75l3 3 1.293-1.293a1.004 1.004 0 000-1.415zM5.25 13.751l-3-3 6.998-6.998 3 3zM.908 14.775c-.087.262.055.397.316.312l2.001-.667-1.65-1.646-.667 2.001z'/%3e%3c/g%3e%3c/svg%3e");
    }

    .item-container {
      display: inline-flex;
      width: 100%;
      gap: rem(10px);
    }

    .a-external__link--icon-left svg {
      width: rem(20px);
      height: rem(20px);
    }

    .a-file,
    .resources-link-to-form {
      cursor: move;
    }
  }
}