%m-listing-item,
.m-listing-item {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  border-bottom: rem(1px) solid var(--c-listing-item--border);
  overflow: hidden;
  padding-bottom: calc(var(--spacer) * 2/3);

  @include breakpoint($bp-tablet) {
    flex-direction: row;
  }
}

%m-listing-item__img,
.m-listing-item__img {
  width: 100%;

  @include breakpoint($bp-tablet) {
    width: 46%;
  }

  .m-image {
    height: 100%;
    width: 100%;

    // for drupal admin preview form
    .field, 
    article {
      height: 100%;
      width: 100%;
    }
    // end for drupal admin preview form

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .m-image__icon--left {
      z-index: 1;
    }
  }


  picture {
    height: 100%;
    width: 100%;
  }
}


%m-listing-item__content,
.m-listing-item__content {
  width: 100%;
}

// %m-listing-item__text,
// .m-listing-item__text {
//   @extend %u-remove-child--margin-top-bottom;

//   margin-bottom: ru(0.75);
// }

%m-listing-item__date,
.m-listing-item__date {
  @extend %a-type--xsmall;

  color: var(--c-listing-item--date);
}


/**
 * Condensed Variation
 */
// .m-listing-item--condensed {
//   @extend %u-remove-child--margin-top-bottom;

//   &.has-img {
//     @include breakpoint($bp-tablet) {
//       display: flex;
//     }
//   }
// }

// .m-listing-item--condensed__content {
//   @extend %m-listing-item__content;
// }

// .m-listing-item--condensed__tags {
//   @extend %m-listing-item__tags;
// }

// .m-listing-item--condensed__text {
//   @extend %u-remove-child--margin-top-bottom;

//   margin-bottom: ru(0.75);

//   .m-text {
//     max-width: ru(35);
//   }
// }

// .m-listing-item--condensed__date {
//   @extend %m-listing-item__date;
//   color: palette(grey, 300);
//   color: var(--text-color);
// }

// .m-listing-item--condensed__img {
//   @extend %m-listing-item__img;
// }
