@use 'sass:math';
@use "sass:list";

// Add bottom spacing to the last item or button in the layout
%o-listing,
.o-listing {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

.o-listing--events-condensed {
  @extend %o-listing;
  margin-top: calc(var(--spacer) * 2);
}

// Add bottom spacing to the last item or button in the layout
.o-listing--narrow {
  @extend %o-listing;
}

.o-listing__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.o-listing__title {
  margin-right: ru(0.5);

  @include breakpoint($bp-large) {
    margin-bottom: var(--spacer);
  }
}

.o-listing__items {
  gap: var(--spacer);
}

// See all button.
.o-listing__button {
  margin-top: calc(var(--spacer)*2);

  @include breakpoint($bp-large) {
    margin-bottom: var(--spacer);
  }
}

.o-listing-text {
  margin-bottom: 0;

  a {
    padding-left: ru(0.25);
    font-weight: normal;
  }

  .a-heading__icon {
    fill: palette(blue);
  }

  .a-heading__last-word {
    padding-right: 0;
  }

  .l-section-bg--blue & {
    a {
      color: palette(white);
    }

    .a-heading__icon {
      fill: palette(blue);
    }
  }
}


// News and Resources listing
.o-listing--news,
.m-listing-item--resources {
  margin-top: var(--spacer);

  @include breakpoint($bp-tablet) {
    width: 66%;
    margin: var(--spacer) auto 0;
  }
}

.o-listing--news .o-listing__items {
  gap: 0;
}


// Demo in Storybook
.o-listing__pager-demo .m-pager__container {
  width: 100%;
}

// carousel Events Items
%o-listing--carousel,
.o-listing--media-carousel__items {
  display: grid !important;
  grid-auto-flow: column;
  gap: var(--spacer);
  padding-bottom: calc(var(--spacer) * 0.5);
  // scroll-snap-type: x mandatory;
  // overflow-x: scroll;
  // overscroll-behavior-x: contain;
  // scroll-behavior: smooth;

  .m-listing-item--media-carousel__media {
    scroll-snap-align: center;
    width: rem(280px);

    @include breakpoint($bp-tablet-small) {
      width: rem(400px);
    }

    @include breakpoint($bp-tablet) {
      width: rem(470px);
    }

    &:focus {
      outline: auto 5px palette(blue, 300); /* for webkit browsers */
      scroll-snap-align: center !important;
    }
  }
}

.o-listing--media-carousel {
  @extend %carousel-container;
}

.o-listing--media-carousel__items-prev-btn {
  @extend %carousel-controls-btn;
  
  left: var(--spacer);
}

.o-listing--media-carousel__items-next-btn {
  @extend %carousel-controls-btn;
  
  right: var(--spacer);
}


// carousel People Items
.o-listing--people-carousel__items {
  @extend %o-listing--carousel;

  .m-listing-item--people__img-illustration,
  .m-listing-item--people__img {
    scroll-snap-align: center;
    width: rem(280px);

    &:focus {
      outline: auto 5px palette(blue, 300); /* for webkit browsers */
      scroll-snap-align: center !important;
    }
  }
}

.o-listing--people-carousel {
  @extend %carousel-container;
}

.o-listing--people-carousel__items-prev-btn {
  @extend %carousel-controls-btn;
  
  left: var(--spacer);
}

.o-listing--people-carousel__items-next-btn {
  @extend %carousel-controls-btn;
  
  right: var(--spacer);
}

// Programs

.o-listing--program__items {
  &.l-flex--2col {
    gap: 0;
  }
}

/// Demo in Storybook
.o-listing__pager-demo {
  margin-top: rem(100px);
}