.m-listing-item--news {
  @extend %m-listing-item;
  border-bottom: rem(1px) solid palette(grey, 800);
  padding: var(--spacer) 0 calc(var(--spacer) * 1.2);
  color: var(--c-text);

  @include breakpoint($bp-tablet) {
    justify-content: space-between;
    gap: var(--spacer);
  }
}

.m-listing-item--news__content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 0.5);
}

.m-listing-item--news__title .a-heading__last-word {
  // display: none;
}

.m-listing-item--news__content h3 {
  margin-bottom: 0;
}

.m-listing-item--news__date {
  @extend %m-listing-item__date;
}

.m-listing-item--news__tags {
  @extend %m-listing-item__tags;
}

.m-listing-item--news__img {
  @include breakpoint($bp-tablet) {
    width: 25%;
  }
}
