%overlay-link-card {
  // Overlay link.
  a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
}

.m-listing-item--media-carousel {
  position: relative;
}

.m-listing-item--media-carousel__media {
  position: relative;

  iframe,
  .media-oembed-content {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.m-listing-item--media-carousel__event-date {
  @extend %m-listing-item--events-date;
  position: absolute;
  left: calc(var(--spacer) * 0.5);
  top: calc(var(--spacer) * 0.5);
  background-color: var(--c-media-carousel-bg);
  color: var(--c-media-carousel-date);
}

.m-listing-item--media-carousel__event-date-month {
  @extend %m-listing-item--events-date-month;
}

.m-listing-item--media-carousel__event-date-day {
  @extend %m-listing-item--events-date-day;
}

.m-listing-item--media-carousel__title {
  @extend %overlay-link-card;
}

.m-listing-item--media-carousel__title .a-heading__h3 {
  @extend %a-type--xsmall;

  font-weight: 400;
  margin-bottom: 0;
}
