.m-listing-item--resources {
  border-bottom: rem(1px) solid palette(grey, 800);
  display: grid;
  column-gap: ru(1);
  row-gap: ru(1);
  padding: ru(1) 0;

  @include breakpoint($bp-tablet) {
    grid-template-columns: 3fr 5fr;
  }

  .a-heading__h2 {
    display: block;
    width: auto;
  }
}

.m-listing-item--resources__description {
  margin-bottom: rem(40px);
  display: block;
  color: palette(grey, 300);
}

.m-listing-item--resources__items {
  .a-file,
  .resources-link-to-form {
    margin-bottom: ru(0.5);
  }
}

.a-external__link--icon-left {
  @extend %a-link-with-icons;

  svg {
    padding: rem(5px);
  }
}

.thumbnail--resources-link-to-form {
  max-width: rem(125px);
}