.m-listing-item--program {
  @extend %m-listing-item;
  border-bottom: rem(1px) solid palette(grey, 800);
  padding: calc(var(--spacer) * 0.5) 0 calc(var(--spacer) * 1.2);
  color: var(--c-text);

  @include breakpoint($bp-tablet) {
    justify-content: flex-start;
    gap: var(--spacer);
  }
}

.m-listing-item--program__content {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-tablet) {
    margin-top: rem(8px);
  }
}

.m-listing-item--program__type {
  @extend %a-type--headings;
  @extend %a-type--xsmall;
  font-weight: 700;
  margin-bottom: rem(6px);
}

.m-listing-item--program__concentration {
  @extend %a-type--xxsmall;
}

.m-listing-item--program__img {
  @include breakpoint($bp-tablet) {
    width: 30%;
    min-width: 30%;
  }
}
