{# Set default listing class - 'o-listing' #}
{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

{% if storybook_demo %}
  {% set directory = directory %}
{% else %}
  {% set directory =  'themes/utmusic' %}
{% endif %}

<div class="o-listing{{ variation }}">
  {% if title or listing_button_url %}
    <div class="o-listing__header">
      {% if title %}
        <div class="o-listing__title">
          {% include "@atoms/text/headings/heading.twig" with {
            directory: directory,
            html_element: 'h2',
            appearance: 'h2',
            text: title,
            url: false,
            id: false,
            } only
          %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% set listing_col_layout = listing_col_layout|default('l-flex') %}

  <div class="o-listing{{ variation }}__items {{ listing_col_layout }}"> 
    {% for item in listing_items %}
      {% if sb_demo %}
        {% if variation == '--events' or variation == '--events-condensed' %}
          {# {% include "@organisms/listing/listing-item--events.twig" with {
              directory: directory,
              variation: item.variation,
              title: item.title, 
              image: item.image,
              url: item.url,
              id: item.id,
              start_date: item.start_date,
              end_date: item.end_date,
              tags: item.tags,
              text: item.text,
            } only
          %} #}
        {% else %}
          {% include "@organisms/listing/listing-item.twig" with {
              directory: directory,
              variation: item.variation,
              title: item.title, 
              date_string: item.date_string,
              image: item.image,
              url: item.url,
              id: item.id,
              news_categories: item.news_categories,
              areas_study: item.areas_study,
              sb_demo: item.sb_demo,
            } only
          %}
        {% endif %}
      {% else %}
      
      {# Because for Drupal we include listing-item or listing-item--event on the level of Node #}
        {{ item }}
      {% endif %}
    {% endfor %}
  </div>

  {# {% if listing_button_url and listing_button_text %}
    <div class="o-listing__button">
      {% include "@atoms/button/button.twig" with {
          label: listing_button_text,
          html_element: 'a',
          variation: '',
          url: listing_button_url,
          id: 'listing'|t ~ title,
          target: '',
          aria_label: listing_button_text ~ ' ' ~ aria_label,
          alignment: 'left'
        } only
      %}
    </div>
  {% endif %} #}
  {% if sb_demo %}
    <div class="o-listing__pager-demo">
      {% include '@molecules/pager/pager.twig' with {
          items: pager.items,
          current: pager.current,
          prev_icon: pager.prev_icon,

        } only 
      %}
    </div>
  {% endif %}
</div>
