/**
 * @file
 *
 * This file is used to override our paragraphs style in layout builder.
 *
 * Sometimes it is required to modify a paragraphs style in the backend to fix
 * a bug. e.g. if a paragraph has negative margin but that will mess with
 * layout builder we could reset that margin here.
 */

// External Libraries
@import '~breakpoint-sass/stylesheets/breakpoint.scss';

// Components
@import '00-base/00-functions/*.scss';
@import '00-base/01-variables/*.scss';

/******************************************************************************/

// Add Styles here.
// .adminspring-preview .m-text {
//   outline: 1px solid pink;
// }

// Header paragraphs.
.field--name-field-page-header .adminspring-preview {
  margin: 15px 0 0 0 !important;
  padding: 0 !important;
}

.adminspring-preview .o-hero-media__tabs {
  display: none;
}

// Remove the 'About text formats' help text.
.filter-help {
  display: none;
}

// preview for the card component with alignment--stretch.
.adminspring-preview .l-section-vertical-alignment--stretch .utmusic-paragraph-wrapper {
  height: 100%;

  > div[class^='m-card'] {
    height: 100%;
  }
}
