.m-accordion {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.m-accordion-header-wrapper {
  padding: rem(10px) rem(15px);
}

.m-accordion__btn-toggle {
  margin-left: auto;
}

.m-accordion__items {
  width: 100%;
}

.m-accordion__items .m-accordion-item:first-of-type {
  .m-accordion-item__header-wrapper {
    border-top: rem(1px) solid var(--c-accordion-item-border);
  }
}

.m-accordion__btn-toggle {
  border: unset;
  color: var(--c-accordion-expand-button-text);
  background-color: var(--c-accordion-expand-button-bg);

  &[aria-expanded="true"] {
    svg {
      transform: rotate(180deg);
      transition: 0.2s ease-in;
    }
  }

  &:hover,
  &:active,
  &:focus {
    border-radius: rem(50px);
    text-decoration: underline;
    box-shadow: 0px rem(4px) rem(10px) rgba(62, 19, 77, 0.09);
  }
}
