// Admin links
.m-item__copy-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: rem(-13px);
  margin-left: rem(-30px);
}

.m-item__copy-link {
  margin-right: 10px;
}

.m-item__copy-btn {
  background-color: palette(teal, 1000);
  border-radius: rem(5px);
  padding: rem(6px);  
  border: rem(1px) solid transparent;

  .a-button--icon__icon {
    display: block;
    width: rem(16px);
    height: rem(16px);
    fill: palette(blue);
  }

  &:hover,
  &:active,
  &:visited {
    background-color: palette(blue, 900);
    border: rem(1px) solid palette(teal, 300);
  }
}

.tippy-box[data-theme~='custom'] {
  border: 1px solid palette(blue, 900);
  background: palette(blue, 950);
  max-width: rem(250px) !important;
  color: palette(blue);

  .tippy-arrow {
    color: palette(blue, 950);
  }

  .tippy-content {
    @extend %u-remove-child--margin-top-bottom;
    p {
      color: palette(blue);
    }
  }
}

.m-accordion-item__label {
  @extend %a-type--medium;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--c-accordion-item-label);
  text-align: left;
  gap: calc(var(--spacer)*0.3);
  border: rem(1px) solid transparent;
  padding: rem(20px) rem(15px) rem(20px) rem(30px);

  svg {
    min-width: rem(37px);
    min-height: rem(37px);
    width: rem(37px);
    height: rem(37px);
    color: var(--c-accordion-item-svg);
  }

  &:hover,
  &:focus,
  &:active {
    background-color: var(--c-accordion-focus-bg);
    border: rem(1px) solid palette(blue);
  }
}

.m-accordion-item__subtitle {
  @extend %a-type--small;
  color: var(--c-tag);
  font-weight: 400;
}

.m-accordion-item__header-wrapper {
  border-bottom: rem(1px) solid var(--c-accordion-item-border);
}

.m-accordion-item__content {
  padding: rem(20px) rem(30px);
  color: var(--c-accordion-item-text);
}


.m-accordion-item__content[aria-hidden="true"] {
  display: none;
}

.m-accordion-item__content[aria-hidden="false"] {
  border-bottom: rem(1px) solid var(--c-accordion-item-border);
}

.m-accordion-item__label[aria-expanded="false"] {
  .accordion-item__toggle-plus {
    display: block;
  }
  .accordion-item__toggle-minus {
    display: none;
  }
}

.m-accordion-item__label[aria-expanded="true"] {
  background-color: var(--c-accordion-focus-bg);
  border: rem(1px) solid palette(blue);

  .accordion-item__toggle-plus {
    display: none;
  }
  .accordion-item__toggle-minus {
    display: block;
  }
}
