.m-share__icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacer) * 2/3);
}

.m-share__label h2 {
  color: var(--c-social-heading);
  font-weight: 400;
}

.m-share__icon-link {
  display: block;
  width: 100%;
  max-width: rem(60px);
  height: auto;
  max-height: rem(60px);
  padding: rem(15px) rem(10px);
  border-radius: rem(12px);
  border: rem(1px) solid transparent;
  background-color: var(--c-social-background);  

  &:hover,
  &:focus,
  &:active {
    border: rem(1px) solid var(--c-social-svg--active);

    .m-share__icon-svg svg {
      color: var(--c-social-svg--active);
    }
  }
}

.m-share__icon-svg svg {
  width: 100%;
  height: 100%;
  color: var(--c-social-svg);
}