// .m-menu-priority-plus__wrapper {

// }

.m-menu-priority-plus {
  display: flex;
  max-width: $bp-max;
  white-space: nowrap; // required unles a width will be set for the menu item. Otherwise text will flow in 1 word per line.

  @include breakpoint($bp-max) {
    margin-right: auto;
    margin-left: auto;
  }
}

.m-menu-priority-plus__menu {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.m-menu-priority-plus__item.is-active {
  @include breakpoint(1px $bp-tablet-small) {
    text-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-all;

    .m-menu-priority-plus__link {
      min-width: rem(130px);
    }
  }
}

.m-menu-priority-plus__link {
  @extend %a-type--small;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 auto;
  border-bottom: 3px solid palette(white);
  padding: ru(0.25) ru(0.5);
  color: palette(grey, 400);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    background-color: palette(teal, 1000);
    border-color: palette(teal, 1000);
  }

  &.is-active {
    color: palette(blue, 300);
    border-color: palette(teal, 700);
  }
}

// Added inside of an active link.
.m-menu-priority-plus__icon--active {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translateY(40%) translateX(-50%);
}

// The dropdown wrapper created via JS. Holds the toggle button and hidden items.
.m-menu-priority-plus .nav__dropdown-wrapper {
  display: flex;
  margin-left: auto; // position the dropdown button at the end (far right) of the menu.
}

// The toggle button created via JS. Toggle button to show hide the hidden drop down menu.
.m-menu-priority-plus .nav__dropdown-toggle {
  @extend %a-type--small;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid palette(grey, 950) !important;
  padding-right: 25px;
  padding-left: 50px;
  border: 0;
  cursor: pointer;
  width: 140px;
  color: palette(grey, 400);
  text-align: left;

  @include breakpoint($bp-tablet) {
    padding-right: 35px;
    width: 160px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: palette(grey, 1000);

    &::before {
      background-color: palette(white);
    }
  }

  &::before {
    display: block;
    position: absolute;
    top: calc(50% - 15px);
    left: 10px;
    border-radius: 50%;
    background: palette(teal, 1000);
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: palette(teal, 700);
    content: attr(prioritynav-count);
    text-align: center;
  }

  &::after {
    position: absolute;
    top: calc(50% - 8px);
    right: 15px;
    content: '';
    background: url("../images/svg/chevron-down-solid-grey.svg") no-repeat;
    background-size: 100% auto;
    display: block;
    width: 18px;
    height: 18px;
    color: pink;

    @include breakpoint($bp-tablet) {

    }
  }

  // &.is-open {
  //   box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  // }
}

// Down arrow in toggle button.
.m-menu-priority-plus .m-menu-priority-plus__icon {
  position: absolute;
  top: 50%;
  right: ru(0.25);
  margin-top: ru(-0.375);
}

// The drop down menu of hidden items created by JS.
.m-menu-priority-plus .nav__dropdown {
  position: absolute;
  top: calc(100% + 1px);
  right: 0;
  width: 100vw;
  min-width: 160px;
  text-align: left;
  z-index: 3;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
  background-color: palette(white);

  @include breakpoint($bp-tablet) {
    width: auto;
    max-width: 600px;
  }
}

// The menu links that are inside of the dropdown menu.
.m-menu-priority-plus .nav__dropdown .m-menu-priority-plus__link {
  justify-content: left;
}
