// Heading Classes
@use 'sass:math';

// Heading h2 / h3 are inline headings appearing in content normally part of WYSWIYG
// Title classes are generally used for h1 text blocks (see title section below)

%heading--core {
  width: 100%;
  margin-bottom: calc(var(--spacer) * 1/2);
  line-height: 1.25; // Relative line height needed for rfs() function
  color: var(--c-heading);
  font-weight: 700;
  font-family: $title-font-family;

  a {
    &:link,
    &:visited {
      display: inline;
      color: var(--c-heading-link);
      text-decoration: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: var(--c-heading-link--active);
      transition: transform 0.2s ease-in-out;
      text-decoration: underline;

      .a-icon--inline {
        transform: translateX(0.25em);
        fill: var(--c-heading-link-icon--active);
      }
    }

    // See related styles in @atoms/icon/icon.scss
    .a-icon--inline {
      fill: var(--c-heading-link-icon);
      line-height: inherit;
      transform: translateX(0);
      transition: transform 0.15s ease-in-out;
    }
  }
}

// Wrap the last work with a span to position & create padding for icon
.a-heading__last-word {
  padding-right: 0.5em; // Needs padding to "hold space" for the arrow animation
  white-space: nowrap;

  svg {
    width: 0.5em;
    height: 1em;
    vertical-align: middle;
  }
}

// Add an icon (right chevron by default) when a heading is a link

.a-heading__h1-large,
%a-heading__h1-large {
  @extend %heading--core;
  @include rfs(51.5px); // for desktop 58px
  line-height: 1.06; 
}

.a-heading__h1,
%a-heading__h1 {
  @extend %heading--core;
  @include rfs(28.5px); // for desktop 32px
  font-weight: 900;
  line-height: 1.18; 
}

.a-heading__h2,
%a-heading__h2 {
  @extend %heading--core;
  @include rfs(25px); // for desktop 28px
  position: relative;
  line-height: 1.14; 
  // margin-left: rem(15px);

  // &::before {
  //   position: absolute;
  //   display: block;
  //   left: -15px;
  //   width: 3px;
  //   height: 100%;
  //   background-color: var(--c-heading-decoration);
  //   content: '';
  // }
}

.a-heading__h3,
%a-heading__h3 {
  @extend %heading--core;
  @include rfs(19.5px); // for desktop 22px
  line-height: 1.22; 
  position: relative;

  &.decoration {
    &::before {
      position: absolute;
      display: block;
      left: -15px;
      width: 3px;
      height: 100%;
      background-color: var(--c-heading-decoration);
      content: '';
    }
  }
}

.a-heading__h4,
%a-heading__h4 {
  @extend %heading--core;
  @include rfs(18px); // for desktop 20px
  line-height: 1.2; 
}

.a-heading__h5,
%a-heading__h5 {
  @extend %heading--core;
  @include rfs(16px); // for desktop 18px
  line-height: 1.5; 
}

.a-heading__h6,
%a-heading__h6 {
  @extend %heading--core;
  @include rfs(15px); // for desktop 16px
  line-height: 1.5; 
}



.a-heading--left,
.a-heading--left a {
  text-align: left;
}

.a-heading--right,
.a-heading--right a {
  text-align: right;
}

.a-heading--center,
.a-heading--center a {
  text-align: center;
}

%a-heading--top-spacer,
.a-heading--top-spacer {
  margin-top: rem(24px);
}


// Titles are serif fonts used for special circumstances
// %title--core {
//   color: var(--c-heading);
//   font-family: $title-font-family;
//   font-weight: 700;
//   font-style: normal;
// }

// // Title Classes
// .a-heading__t1,
// %a-heading__t1 {
//   @extend %title--core;
//   @include rfs(60px);
// }

// .a-heading__t2,
// %a-heading__t2 {
//   @extend %title--core;
//   @include rfs(38px);
// }
