.l-main--news-related__items {
  margin-top: calc(var(--spacer) * 2);
}

.l-section--related-news {
  display: grid;
  grid-template-columns: [alpha] 1fr repeat(12, [col] minmax(1px, calc((65rem - (var(--spacer) * 11)) / 12))) 1fr [omega];
  grid-column-gap: var(--spacer);
  grid-template-areas:
        "h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1"
        "alpha z1 z1 z1 z1 z1 z1 z1 z1 z1 z1 z1 z1 omega"
        "f1 f1 f1 f1 f1 f1 f1 f1 f1 f1 f1 f1 f1 f1";
}


.l-section-bg__bg-decoration {
  grid-column: alpha / omega;
  grid-row: 1/-1;

  img {
    height: 100%;
  }
}

.l-section__zone-1.l-section__social-share {
  grid-column: col 2;
}


// Event Main
.l-main--event__content-wrapper {
  .l-section__zone-1 {
    grid-row: 2;

    @include breakpoint($bp-large) {
      grid-row: 1; 
    }
  }
}

.l-main--event__social {
  grid-column: 2 / 11;
  padding-left: calc(var(--spacer) * 1);

  @include breakpoint($bp-tablet) {
    grid-column: 4 / 8;
    padding-left: 0;
    
  }

  @include breakpoint($bp-full-nav) {
    margin-bottom: calc(var(--spacer) * -1.5);
  }

  @include breakpoint($bp-large) {
    grid-column: 12;
    margin-bottom: 0;
    padding-top: calc(var(--spacer) * 2.5);
  }
}

.l-main--event__media {
  grid-column: 2 / 15;
  padding-bottom: calc(var(--spacer) * 2);
  padding-left: calc(var(--spacer) * 1);
  overflow: hidden;

  @include breakpoint($bp-tablet) {
    grid-column: 4 / omega;
    padding-left: 0;
  }
}
