{% embed "@layouts/main/main.twig" %}

  {% block content_single_page %}
    <div class="l-main--event">
      <div class="l-section-bg l-section--[10]">
        <div class="l-section__zone-1">


          {# Check if there are any title #}
          {% if title %}
            {% include "@atoms/text/headings/heading.twig" with {
                html_element: 'h2',
                appearance: 'h2',
                text: title,
              } only
            %}
          {% endif %}

          <div class="">{{ical}}</div>

          <div class="">{{description}}</div>

          {# {{ events }} #}

          {% for event in events %}
            <div class="">
              {{ event }}
            </div>
          {% endfor %}

          

        </div>
      </div>

    </div>
  {% endblock content_single_page %}
  
{% endembed %}
