{% embed "@layouts/main/main.twig" %}

  {% block content_single_page %}
    <div class="l-main--job">


      {% include "@organisms/content-header/content-header.twig" with {
          directory: directory,
          variation: header_variation,
          title: title,
          breadcrumbs: breadcrumbs,
          messages: messages,
          tabs: tabs,
        } only
      %}

      {% if content %}
        <div class="l-main--job__content-wrapper l-section--[8] theme--white-bg l-section-spacing-top--small l-section-spacing-bottom--small">
          <div class="l-section__zone-1 l-flex">
            <div class="l-main--job__content">
              {{ content }}
            </div>
          </div>
        </div>
      {% endif %}

    </div>
  {% endblock content_single_page %}
  
{% endembed %}
