{% embed "@layouts/main/main.twig" %}
  
  {% block content_single_page %}
    <div class="l-main--news">

      {% include "@organisms/content-header-news/content-header-news.twig" with {
          variation: variation,
          title_prefix: title_prefix,
          title: title,
          image_landscape: image_landscape,
          image_portrait: image_portrait,
          video: video,
          author: author,
          date_string: date_string,
          news_categories: news_categories,
          areas_study: areas_study,
          summary: summary,
          social_share: social_share,
          breadcrumbs: breadcrumbs,
        } only
      %}


      <div class="l-section-bg l-section--[8] l-section-spacing-top--medium l-section-spacing-bottom--small">
        
        {% if variation == "portrait" or variation == "text" %}
          <div class="l-section__zone-1 l-section__social-share">
            {{ social_share }}
          </div>
        {% endif %}

        <div class="l-section__zone-1">
          {% if content %}
            {{ content }}
          {% endif %}
        </div>
      </div>

      {% if related_news %}
        <div class="l-section-bg l-section--[12] l-section--related-news theme--blue-light l-section-spacing-top--medium l-section-spacing-bottom--medium">
          <div class="l-section-bg__bg-decoration">
            {# it's a placeholder for background #}
            <img alt="" aria-hidden="true" src="/themes/utmusic/images/related-news-min.png" />
          </div>
                  
          <div class="l-main--news-related l-section__zone-1">
            <div class="l-main--news-related__title">
              {% include "@atoms/text/headings/heading.twig" with {
                  html_element: 'h2',
                  appearance: 'h2',
                  text: 'Related news'|t,
                } only
              %}
            </div>
             
            <div class="l-main--news-related__items">
              {{ related_news }}
            </div>
          </div>
        </div>
      {% endif %}
    </div>

  {% endblock content_single_page %}

{% endembed %}