%m-input,
.m-input {
  border-width: rem(2px);
  border-style: solid;
  border-color: palette(grey, 200);
  appearance: none;

  &.required.error {
    border-color: palette(red);
    color: palette(red);
  }
}

%m-input-submit--text,
.m-input-submit--text {
  @extend %a-button--core;
  @extend %a-button--padding;
  @extend %a-button--secondary;
  
  border: 0;
  background-color: transparent;
  padding: 0;
  white-space: normal;
  -webkit-appearance: none;
}

%m-input-submit,
.m-input-submit {
  @extend %a-button--core;
  @extend %a-button--padding;
  @extend %a-button--secondary;

  // sass-lint:disable-all
  &#edit-reset {
    @extend %a-button--secondary; 

    background-color: palette(white);
  }
}

.m-input__icon-wrapper {
  position: relative;

  &:hover,
  &:active,
  &:focus {
    .m-input__icon {
      color: palette(red);
    }
  }

  .m-input__icon {
    position: absolute;
    top: 50%;
    left: rem(12px);
    color: palette(grey, 500);
    transition: color 0.25s cubic-bezier(0.1, 0.96, 0.56, 1);
    transform: translateY(-50%);
  }

  .m-input {
    padding-left: ru(1.25);  
  }
}
