.o-hero-media__credentials {
  color: var(--c-heading-credentials);
  margin-top: rem(34px);
}

.o-hero-media__social {
  grid-row: 6;
  grid-column: col 1 / span 12;
  align-self: center;
  min-height: rem(150px);
  display: grid;
  align-items: center;

  @include breakpoint($bp-tablet) {
    grid-row: 5;
    grid-column: col 2/ span 1;
  }
}
