// Landscape Variation
.o-hero-media--landscape {
  @extend %o-hero-media-core;
}

.o-hero-media--landscape__image {
  padding-top: var(--spacer);
  grid-row: 4;
  grid-column: col 1 / span 12;
  
  @include breakpoint($bp-tablet) {
    padding-top: 0;
    grid-column: col 2 / span 10;
  }
}

.o-hero-media--landscape__text-wrapper {
  grid-row: 8;
  grid-column: col 1/ span 12;

  @include breakpoint($bp-tablet) {
    grid-column: col 3/ span 8;
  }
}
