// Only Text variation
.o-hero-media-news--text {
  @extend %o-hero-media-news-core;
  grid-template-rows: rem(160px) minmax(1px, max-content) rem(50px) rem(70px);
}

.o-hero-media-news--text__text-wrapper {
  grid-row: 2;
  grid-column: col 1 / span 12;

  @include breakpoint($bp-tablet) {
    grid-column: col 1 / span 6;
  }
}

//text on the blue bg
.o-hero-media-news--text__credentials {
  color: palette(blue, 300);
}
