// Portrait Variation 
.o-hero-media--portrait {
  @extend %o-hero-media-core;
  display: grid;
}

.o-hero-media--portrait .o-hero-media__bg-decoration {
  @extend %o-hero-media__bg-decoration;
}

.o-hero-media--portrait__image {
  grid-row: 4;
  grid-column: col 1 / span 12;
  padding-top: var(--spacer);

  @include breakpoint($bp-tablet) {
    padding-top: 0;
    grid-row: 3/ span 4;
    grid-column: 8 / span 6;
  }
}

.o-hero-media--portrait__text-wrapper {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  grid-row: 8;
  grid-column: col 1/ span 12;
  z-index: 0;

  @include breakpoint($bp-tablet) {
    grid-row: 4;
    grid-column: col 1/ span 6;
  }
}

.o-hero-media--portrait__tags {
  @extend %o-hero-media-tags-desktop-no-border;
}

.o-hero-media--portrait__credentials {
  color: palette(blue, 300);
}