// Event variation
.o-hero-media--event {
  @extend %o-hero-media-core;
  display: grid;
}

.o-hero-media--event .o-hero-media__bg-decoration {
  @extend %o-hero-media__bg-decoration;
}

.o-hero-media--event__title,
.o-hero-media--event-text__title {
  @extend %o-hero-media__title;
}

.o-hero-media--event__image {
  @extend %o-here-media__image;

  grid-row: 2/span 2;
  grid-column: col 1 / span 12;

  @include breakpoint($bp-tablet) {
    display: flex;
    grid-row: 3/ span 5;
    grid-column: 8 / span 6;
    align-self: flex-end;
  }
}

.o-hero-media--event__text-wrapper {
  @extend .o-hero-media--event-text__text-wrapper;
  @include breakpoint($bp-tablet) {
    grid-column: col 1 / span 6;
    flex-direction: column;
  }
}

.o-hero-media--event__tags,
.o-hero-media--event__button {
  @extend %o-hero-media-tags-desktop-no-border;
}

%o-hero-media--event__info, 
.o-hero-media--event__info {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer)/3);
}

%o-hero-media--event__info-items,
.o-hero-media__info-date, 
.o-hero-media__info-time,
.o-hero-media__info-location {
  display: flex;
  gap: calc(var(--spacer) * 0.5);
  align-items: center;
  color: palette(blue, 300);
  color: var(--c-listing-item--metainfo);

  svg {
    color: var(--c-heading-link);
    min-width: $base-line-height;
    width: $base-line-height;
    height: $base-line-height;
  }
}

.o-hero-media__info-location-link {
  color: var(--c-listing-item--metainfo);
}

.o-hero-media__info-location svg  {
  align-self: flex-start;
}

.o-hero-media--event__breadcrumbs,
.o-hero-media--event-text__breadcrumbs {
  @extend %o-hero-media__breadcrumbs;
}

.o-hero-media--event__tabs,
.o-hero-media--event-text__tabs {
  @extend %o-hero-media__tabs;
}

.o-hero-media--event-text__info {
  @extend %o-hero-media--event__info;

  margin-top: 0;
}
