.m-menu-mobile {
  @include root-prop(--mm-color-background, palette(white));
  @include root-prop(--mm-color-button, palette(black, 100));
  @include root-prop(--mm-background-button, palette(black, 100));
  @include root-prop(--mm-color-text, palette(blue, 300));
  @include root-prop(--mm-color-text-dimmed, palette(white));
  @include root-prop(--mm-color-border, palette(grey, 800));

  &:not(.mm-menu) {
    display: none;
  }
}

%m-menu-mobile__item {
  padding: ru(1) 0 ru(0.75);

  a {
    // @extend %a-external-link;
    @extend %a-type--small;
    font-weight: bold;

    // &[href^='http']:after {
    //   background-image: url('./svg/svg-art/external-link-square-alt-white.svg');
    // }
  }
}

// Menu Top Header.
.mm-navbar .m-menu-mobile__header {
  display: flex;
  justify-content: space-between;
  color: palette(blue, 300);
}

// Menu header title.
.mm-navbar__title span {
  @extend %a-type--small;
  color: palette(blue,300);
  font-weight: bold;
}

// Menu items.
.mm-listitem {
  @extend %m-menu-mobile__item;
  border-bottom: 1px solid palette(grey, 800);
  padding: ru(1) 0 ru(0.75);

  // Active state.
  &.is-active .mm-listitem__text {
    background: palette(grey, 1000);
  }

  // Hover state.
  .mm-listitem__text:hover {
    background: palette(grey, 900);
  }
}

// Fix for nav bar when logged in droppping when menu opened.
// sass-lint:disable class-name-format
.mm-wrapper_opening .toolbar-bar,
.mm-wrapper_opened .toolbar-bar  {
  top: -39px;
}
// sass-lint:enable class-name-format

// Overriding to avoid the double border.
.m-menu-mobile__item--section {
  border: 0;
}

// Shortcuts.
.m-menu-mobile__shortcuts-wrapper {
  width: 100%;

  .mm-listview,
  .mm-listitem {
    border: 0;
  }

  .mm-listitem__text {
    font-weight: normal;
  }
}

// Search & Close buttons.
%m-menu-mobile__core {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(49px);
  height: 100%;

  &:hover,
  &:focus,
  &:active {
    background: palette(grey, 1000);
  }

  svg {
    height: rem(20px);
  }
}

.m-menu-mobile__search,
.m-menu-mobile__close {
  height: 100%;
}

.m-menu-mobile__btn-search,
.m-menu-mobile__btn-close {
  @extend %m-menu-mobile__core;
}

// Overriding to avoid the double border.
.m-menu-mobile__btn-close {
  border: 0;
}

.m-menu-mobile__search {
  border-right: 1px solid palette(grey, 800);
}

.m-menu-mobile__close {
  border-left: 1px solid palette(grey, 800);
}

// Prev & Next button.
%m-menu-mobile-button__core {
  background: palette(grey, 1000);

  &:hover,
  &:focus,
  &:active {
    background: palette(grey, 900);
  }
}

// sass-lint:disable class-name-format
.mm-btn.mm-btn_next,
.mm-btn.mm-btn_prev {
  @extend %m-menu-mobile-button__core;
}
// sass-lint:enable class-name-format

// sass-lint:disable class-name-format
.mm-btn_prev {
  border-right: 1px solid palette(grey, 800);
}
// sass-lint:enable class-name-format
