<nav aria-labelledby="menu-mobile-menu" id="menu-mobile" data-menu-mobile="" class="m-menu-mobile">
  <h2 class="visually-hidden" id="menu-mobile-menu">Mobile Menu</h2><!-- THEME DEBUG -->
  <!-- THEME HOOK: 'menu' -->
  <!-- FILE NAME SUGGESTIONS:
   x menu==mobile.html.twig
   * menu==main.html.twig
   * menu.html.twig
-->
  <!-- BEGIN OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile.html.twig' -->
  <ul class="m-menu-mobile__list--level-1">
    <li class="m-menu-mobile__item--level-1 has-submenu">
      <a href="/node/4" class="m-menu-mobile__link--level-1 is-toggle" data-drupal-link-system-path="node/4">About</a>
      <ul class="m-menu-mobile__list--level-2">
        <li class="m-menu-mobile__item--level-2 has-submenu">
          <span class="m-menu-mobile__link--level-2 is-toggle">Menu link title 1-2</span>
          <ul class="m-menu-mobile__list--level-3">
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-2-1</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-2-2</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-2-3</a>
            </li>
            <li class="m-menu-mobile__item--section">
              <div class="m-menu-mobile__shortcuts-wrapper mm-nopanel">
                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'block' -->
                <!-- FILE NAME SUGGESTIONS:
   x block==menu-mobile-shortcuts.html.twig
   * block==menu-block==mobile-shortcuts.html.twig
   * block==menu-block==header-shortcuts.html.twig
   * block==menu-block.html.twig
   * block==system-menu-block.html.twig
   * block.html.twig
-->
                <!-- BEGIN OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
                <div id="block-menu-mobile-shortcuts">
                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'menu' -->
                  <!-- FILE NAME SUGGESTIONS:
   x menu==mobile-shortcuts.html.twig
   * menu==header-shortcuts.html.twig
   * menu.html.twig
-->
                  <!-- BEGIN OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
                  <ul class="m-menu-mobile__section--level-1 mm-nopanel mm-listview">
                    <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                      <a href="/node/12" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/12">Donate</a>
                    </li>
                    <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                      <a href="/node/13" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/13">Feeling Distressed</a>
                    </li>
                  </ul><!-- END OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
                </div><!-- END OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
              </div>
            </li>
          </ul>
        </li>
        <li class="m-menu-mobile__item--level-2 has-submenu">
          <span class="m-menu-mobile__link--level-2 is-toggle">Menu link title 1-3</span>
          <ul class="m-menu-mobile__list--level-3">
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-3-1</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-3-2</a>
            </li>
            <li class="m-menu-mobile__item--section">
              <div class="m-menu-mobile__shortcuts-wrapper mm-nopanel">
                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'block' -->
                <!-- FILE NAME SUGGESTIONS:
   x block==menu-mobile-shortcuts.html.twig
   * block==menu-block==mobile-shortcuts.html.twig
   * block==menu-block==header-shortcuts.html.twig
   * block==menu-block.html.twig
   * block==system-menu-block.html.twig
   * block.html.twig
-->
                <!-- BEGIN OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
                <div id="block-menu-mobile-shortcuts--2">
                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'menu' -->
                  <!-- FILE NAME SUGGESTIONS:
   x menu==mobile-shortcuts.html.twig
   * menu==header-shortcuts.html.twig
   * menu.html.twig
-->
                  <!-- BEGIN OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
                  <ul class="m-menu-mobile__section--level-1 mm-nopanel mm-listview">
                    <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                      <a href="/node/12" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/12">Donate</a>
                    </li>
                    <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                      <a href="/node/13" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/13">Feeling Distressed</a>
                    </li>
                  </ul><!-- END OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
                </div><!-- END OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
              </div>
            </li>
          </ul>
        </li>
        <li class="m-menu-mobile__item--level-2 has-submenu">
          <span class="m-menu-mobile__link--level-2 is-toggle">Menu link title 1-4</span>
          <ul class="m-menu-mobile__list--level-3">
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-4-1</a>
            </li>
            <li class="m-menu-mobile__item--section">
              <div class="m-menu-mobile__shortcuts-wrapper mm-nopanel">
                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'block' -->
                <!-- FILE NAME SUGGESTIONS:
   x block==menu-mobile-shortcuts.html.twig
   * block==menu-block==mobile-shortcuts.html.twig
   * block==menu-block==header-shortcuts.html.twig
   * block==menu-block.html.twig
   * block==system-menu-block.html.twig
   * block.html.twig
-->
                <!-- BEGIN OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
                <div id="block-menu-mobile-shortcuts--3">
                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'menu' -->
                  <!-- FILE NAME SUGGESTIONS:
   x menu==mobile-shortcuts.html.twig
   * menu==header-shortcuts.html.twig
   * menu.html.twig
-->
                  <!-- BEGIN OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
                  <ul class="m-menu-mobile__section--level-1 mm-nopanel mm-listview">
                    <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                      <a href="/node/12" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/12">Donate</a>
                    </li>
                    <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                      <a href="/node/13" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/13">Feeling Distressed</a>
                    </li>
                  </ul><!-- END OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
                </div><!-- END OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
              </div>
            </li>
          </ul>
        </li>
        <li class="m-menu-mobile__item--level-2 has-submenu">
          <span class="m-menu-mobile__link--level-2 is-toggle">Menu link title 1-1</span>
          <ul class="m-menu-mobile__list--level-3">
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-1</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-2</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-3</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-4</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-5</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-6</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-7</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-8</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-9</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-10</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-11</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-12</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-13</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-14</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-15</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-16</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-17</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-18</a>
            </li>
            <li class="m-menu-mobile__item--level-3">
              <a href="/node/18" class="m-menu-mobile__link--level-3" data-drupal-link-system-path="node/18">Menu link title 1-1-19</a>
            </li>
            <li class="m-menu-mobile__item--section">
              <div class="m-menu-mobile__shortcuts-wrapper mm-nopanel">
                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'block' -->
                <!-- FILE NAME SUGGESTIONS:
   x block==menu-mobile-shortcuts.html.twig
   * block==menu-block==mobile-shortcuts.html.twig
   * block==menu-block==header-shortcuts.html.twig
   * block==menu-block.html.twig
   * block==system-menu-block.html.twig
   * block.html.twig
-->
                <!-- BEGIN OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
                <div id="block-menu-mobile-shortcuts--4">
                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'menu' -->
                  <!-- FILE NAME SUGGESTIONS:
   x menu==mobile-shortcuts.html.twig
   * menu==header-shortcuts.html.twig
   * menu.html.twig
-->
                  <!-- BEGIN OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
                  <ul class="m-menu-mobile__section--level-1 mm-nopanel mm-listview">
                    <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                      <a href="/node/12" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/12">Donate</a>
                    </li>
                    <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                      <a href="/node/13" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/13">Feeling Distressed</a>
                    </li>
                  </ul><!-- END OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
                </div><!-- END OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
              </div>
            </li>
          </ul>
        </li>
        <li class="m-menu-mobile__item--section">
          <div class="m-menu-mobile__shortcuts-wrapper mm-nopanel">
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'block' -->
            <!-- FILE NAME SUGGESTIONS:
   x block==menu-mobile-shortcuts.html.twig
   * block==menu-block==mobile-shortcuts.html.twig
   * block==menu-block==header-shortcuts.html.twig
   * block==menu-block.html.twig
   * block==system-menu-block.html.twig
   * block.html.twig
-->
            <!-- BEGIN OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
            <div id="block-menu-mobile-shortcuts--5">
              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'menu' -->
              <!-- FILE NAME SUGGESTIONS:
   x menu==mobile-shortcuts.html.twig
   * menu==header-shortcuts.html.twig
   * menu.html.twig
-->
              <!-- BEGIN OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
              <ul class="m-menu-mobile__section--level-1 mm-nopanel mm-listview">
                <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                  <a href="/node/12" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/12">Donate</a>
                </li>
                <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                  <a href="/node/13" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/13">Feeling Distressed</a>
                </li>
              </ul><!-- END OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
            </div><!-- END OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
          </div>
        </li>
      </ul>
    </li>
    <li class="m-menu-mobile__item--level-1 has-submenu">
      <a href="/node/6" class="m-menu-mobile__link--level-1 is-toggle" data-drupal-link-system-path="node/6">Admissions</a>
      <ul class="m-menu-mobile__list--level-2">
        <li class="m-menu-mobile__item--level-2">
          <a href="/node/5" class="m-menu-mobile__link--level-2" data-drupal-link-system-path="node/5">Menu test</a>
        </li>
        <li class="m-menu-mobile__item--section">
          <div class="m-menu-mobile__shortcuts-wrapper mm-nopanel">
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'block' -->
            <!-- FILE NAME SUGGESTIONS:
   x block==menu-mobile-shortcuts.html.twig
   * block==menu-block==mobile-shortcuts.html.twig
   * block==menu-block==header-shortcuts.html.twig
   * block==menu-block.html.twig
   * block==system-menu-block.html.twig
   * block.html.twig
-->
            <!-- BEGIN OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
            <div id="block-menu-mobile-shortcuts--6">
              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'menu' -->
              <!-- FILE NAME SUGGESTIONS:
   x menu==mobile-shortcuts.html.twig
   * menu==header-shortcuts.html.twig
   * menu.html.twig
-->
              <!-- BEGIN OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
              <ul class="m-menu-mobile__section--level-1 mm-nopanel mm-listview">
                <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                  <a href="/node/12" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/12">Donate</a>
                </li>
                <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                  <a href="/node/13" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/13">Feeling Distressed</a>
                </li>
              </ul><!-- END OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
            </div><!-- END OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
          </div>
        </li>
      </ul>
    </li>
    <li class="m-menu-mobile__item--level-1 has-submenu">
      <a href="/node/9" class="m-menu-mobile__link--level-1 is-toggle" data-drupal-link-system-path="node/9">People</a>
      <ul class="m-menu-mobile__list--level-2">
        <li class="m-menu-mobile__item--level-2">
          <a href="/node/6" class="m-menu-mobile__link--level-2" data-drupal-link-system-path="node/6">Menu test 2</a>
        </li>
        <li class="m-menu-mobile__item--section">
          <div class="m-menu-mobile__shortcuts-wrapper mm-nopanel">
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'block' -->
            <!-- FILE NAME SUGGESTIONS:
   x block==menu-mobile-shortcuts.html.twig
   * block==menu-block==mobile-shortcuts.html.twig
   * block==menu-block==header-shortcuts.html.twig
   * block==menu-block.html.twig
   * block==system-menu-block.html.twig
   * block.html.twig
-->
            <!-- BEGIN OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
            <div id="block-menu-mobile-shortcuts--7">
              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'menu' -->
              <!-- FILE NAME SUGGESTIONS:
   x menu==mobile-shortcuts.html.twig
   * menu==header-shortcuts.html.twig
   * menu.html.twig
-->
              <!-- BEGIN OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
              <ul class="m-menu-mobile__section--level-1 mm-nopanel mm-listview">
                <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                  <a href="/node/12" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/12">Donate</a>
                </li>
                <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                  <a href="/node/13" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/13">Feeling Distressed</a>
                </li>
              </ul><!-- END OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
            </div><!-- END OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
          </div>
        </li>
      </ul>
    </li>
    <li class="m-menu-mobile__item--level-1">
      <a href="/node/1" class="m-menu-mobile__link--level-1" data-drupal-link-system-path="node/1">Programs</a>
    </li>
    <li class="m-menu-mobile__item--level-1">
      <a href="/node/10" class="m-menu-mobile__link--level-1" data-drupal-link-system-path="node/10">Student Resources</a>
    </li>
    <li class="m-menu-mobile__item--level-1">
      <a href="/node/8" class="m-menu-mobile__link--level-1" data-drupal-link-system-path="node/8">Research & Creation</a>
    </li>
    <li class="m-menu-mobile__item--level-1">
      <a href="/node/12" class="m-menu-mobile__link--level-1" data-drupal-link-system-path="node/12">Concerts & Events</a>
    </li>
    <li class="m-menu-mobile__item--section">
      <div class="m-menu-mobile__shortcuts-wrapper mm-nopanel">
        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'block' -->
        <!-- FILE NAME SUGGESTIONS:
   x block==menu-mobile-shortcuts.html.twig
   * block==menu-block==mobile-shortcuts.html.twig
   * block==menu-block==header-shortcuts.html.twig
   * block==menu-block.html.twig
   * block==system-menu-block.html.twig
   * block.html.twig
-->
        <!-- BEGIN OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
        <div id="block-menu-mobile-shortcuts--8">
          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'menu' -->
          <!-- FILE NAME SUGGESTIONS:
   x menu==mobile-shortcuts.html.twig
   * menu==header-shortcuts.html.twig
   * menu.html.twig
-->
          <!-- BEGIN OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
          <ul class="m-menu-mobile__section--level-1 mm-nopanel mm-listview">
            <li class="m-menu-mobile__section-item--level-1 mm-listitem">
              <a href="/node/12" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/12">Donate</a>
            </li>
            <li class="m-menu-mobile__section-item--level-1 mm-listitem">
              <a href="/node/13" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="node/13">Feeling Distressed</a>
            </li>
          </ul><!-- END OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile-shortcuts.html.twig' -->
        </div><!-- END OUTPUT from 'themes/utmusic/templates/block/block==menu-mobile-shortcuts.html.twig' -->
      </div>
    </li>
  </ul><!-- END OUTPUT from 'themes/utmusic/templates/navigation/menu==mobile.html.twig' -->
</nav>