<nav role="navigation" aria-labelledby="menu-mobile-menu" id="menu-mobile" class="contextual-region m-menu-mobile" data-menu-mobile="">
  <h2 class="visually-hidden" id="menu-mobile-menu">Subsite mobile menu</h2><!-- THEME DEBUG -->
  <!-- THEME HOOK: 'menu' -->
  <!-- FILE NAME SUGGESTIONS:
   x menu==mobile.html.twig
   * menu==main.html.twig
   * menu.html.twig
-->
  <!-- BEGIN OUTPUT from 'themes/munk/templates/navigation/menu==mobile.html.twig' -->
  <ul class="m-menu-mobile__list--level-1">
    <li class="m-menu-mobile__item--level-1">
      <a href="/munk-school-media" class="m-menu-mobile__link--level-1" data-drupal-link-system-path="node/74">Media</a>
    </li>
    <li class="m-menu-mobile__item--level-1 has-submenu">
      <a href="/connect" class="m-menu-mobile__link--level-1 is-toggle" data-drupal-link-system-path="node/143">Connect</a>
      <ul class="m-menu-mobile__list--level-2">
        <li class="m-menu-mobile__item--level-2">
          <a href="/about-us" class="m-menu-mobile__link--level-2" data-drupal-link-system-path="node/852">About us</a>
        </li>
        <li class="m-menu-mobile__item--level-2">
          <a href="/alumni" class="m-menu-mobile__link--level-2" data-drupal-link-system-path="node/853">Alumni</a>
        </li>
        <li class="m-menu-mobile__item--level-2">
          <a href="/current-opportunities" class="m-menu-mobile__link--level-2" data-drupal-link-system-path="node/854">Current opportunities</a>
        </li>
        <li class="m-menu-mobile__item--level-2">
          <a href="/donate" class="m-menu-mobile__link--level-2" data-drupal-link-system-path="node/855">Donate</a>
        </li>
        <li class="m-menu-mobile__item--level-2">
          <a href="/employers" class="m-menu-mobile__link--level-2" data-drupal-link-system-path="node/857">For employers</a>
        </li>
        <li class="m-menu-mobile__item--level-2">
          <a href="/media-0" class="m-menu-mobile__link--level-2" data-drupal-link-system-path="node/858">For media</a>
        </li>
        <li class="m-menu-mobile__item--level-2">
          <a href="/contact-us-1" class="m-menu-mobile__link--level-2" data-drupal-link-system-path="node/859">Contact us</a>
        </li>
        <li class="m-menu-mobile__item--section">
          <div class="m-menu-mobile__shortcuts-wrapper mm-nopanel">
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'block' -->
            <!-- FILE NAME SUGGESTIONS:
   x block==menu-mobile-shortcuts.html.twig
   * block==menu-block==mobile-shortcuts.html.twig
   * block==menu-block==header-shortcuts.html.twig
   * block==menu-block.html.twig
   * block==system-menu-block.html.twig
   * block.html.twig
-->
            <!-- BEGIN OUTPUT from 'themes/munk/templates/block/block==menu-mobile-shortcuts.html.twig' -->
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'menu' -->
            <!-- FILE NAME SUGGESTIONS:
   x menu==mobile-shortcuts.html.twig
   * menu==header-shortcuts.html.twig
   * menu.html.twig
-->
            <!-- BEGIN OUTPUT from 'themes/munk/templates/navigation/menu==mobile-shortcuts.html.twig' -->
            <ul class="m-menu-mobile__section--level-1 mm-nopanel mm-listview">
              <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                <a href="/events/login" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="events/login">Events Login</a>
              </li>
              <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                <a href="/user/events/listing" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="user/events/listing">My Events</a>
              </li>
              <li class="m-menu-mobile__section-item--level-1 mm-listitem">
                <a href="/user/logout?current=/user/1" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="user/logout">Logout</a>
              </li>
            </ul><!-- END OUTPUT from 'themes/munk/templates/navigation/menu==mobile-shortcuts.html.twig' -->
            <!-- END OUTPUT from 'themes/munk/templates/block/block==menu-mobile-shortcuts.html.twig' -->
          </div>
        </li>
      </ul>
    </li>
    <li class="m-menu-mobile__item--section">
      <div class="m-menu-mobile__shortcuts-wrapper mm-nopanel">
        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'block' -->
        <!-- FILE NAME SUGGESTIONS:
   x block==menu-mobile-shortcuts.html.twig
   * block==menu-block==mobile-shortcuts.html.twig
   * block==menu-block==header-shortcuts.html.twig
   * block==menu-block.html.twig
   * block==system-menu-block.html.twig
   * block.html.twig
-->
        <!-- BEGIN OUTPUT from 'themes/munk/templates/block/block==menu-mobile-shortcuts.html.twig' -->
        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'menu' -->
        <!-- FILE NAME SUGGESTIONS:
   x menu==mobile-shortcuts.html.twig
   * menu==header-shortcuts.html.twig
   * menu.html.twig
-->
        <!-- BEGIN OUTPUT from 'themes/munk/templates/navigation/menu==mobile-shortcuts.html.twig' -->
        <ul class="m-menu-mobile__section--level-1 mm-nopanel mm-listview">
          <li class="m-menu-mobile__section-item--level-1 mm-listitem">
            <a href="/events/login" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="events/login">Events Login</a>
          </li>
          <li class="m-menu-mobile__section-item--level-1 mm-listitem">
            <a href="/user/events/listing" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="user/events/listing">My Events</a>
          </li>
          <li class="m-menu-mobile__section-item--level-1 mm-listitem">
            <a href="/user/logout?current=/user/1" class="m-menu-mobile__section-link--level-1 mm-listitem__text" data-drupal-link-system-path="user/logout">Logout</a>
          </li>
        </ul><!-- END OUTPUT from 'themes/munk/templates/navigation/menu==mobile-shortcuts.html.twig' -->
        <!-- END OUTPUT from 'themes/munk/templates/block/block==menu-mobile-shortcuts.html.twig' -->
      </div>
    </li>
  </ul><!-- END OUTPUT from 'themes/munk/templates/navigation/menu==mobile.html.twig' -->
</nav>