.m-exposed-form__wrapper {
  margin-bottom: calc(var(--spacer)*2);
  @include breakpoint($bp-phone-large) {
    padding: 0;
  }

  form {
    padding-bottom: calc(var(--spacer) * 1.5) !important;
    margin: 0 auto;
    width: 100%;
    border-bottom: rem(1px) solid palette(grey, 800);

    .form-actions {
      display: none;
    }
  }
}

.jobs-views-exposed-form {
  form {
    border-bottom: none;
  }
}

// a11y aria for announcements after applying exposed filters 
.offscreen {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.hide-exposed-form .m-exposed-form__wrapper {
  display: none;
}