/**
    Path to files is from /dist folder, 
    but previously we should put this file into /images.
    Webpack will generate for us output file into the /dist folder 
    which we should use in styles for making it working in SB & Drupal
*/

img,
picture {
  display: block;
  width: 100%;
  height: auto;
  border-radius: rem(12px);
}
