/**
    Path to files is from /dist folder, 
    but previously we should put this file into /images.
    Webpack will generate for us output file into the /dist folder 
    which we should use in styles for making it working in SB & Drupal
*/

img,
picture {
  display: block;
  width: 100%;
  height: auto;
}

.m-image {
  img,
  picture {
    border-radius: rem(12px);
  }
}

.m-image--paralax__image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
  background-attachment: fixed;

  @include breakpoint($bp-tablet) {
    padding-top: 250px;
    padding-bottom: 250px;
  }

  @include breakpoint($bp-large) {
    padding-top: 300px;
    padding-bottom: 300px;
  }


}