/**
    Path to files is from /dist folder, 
    but previously we should put this file into /images.
    Webpack will generate for us output file into the /dist folder 
    which we should use in styles for making it working in SB & Drupal
*/

img,
picture {
  display: block;
  width: 100%;
  height: auto;
}

%m-image--rounded-corners,
.m-image--rounded-corners {
  border-radius: 0.4rem;
  overflow: hidden;

  img {
    border-radius: 0.4rem;
  }
}

.m-image--rounded-corners-shadow {
  @extend %m-image--rounded-corners;

  box-shadow: 0 rem(4px) rem(25px) rgba(0, 0, 0, 0.1);
}

.m-image--brush1__image {
  -webkit-mask-image: url('823c573abe47c1de0509b72584066603.svg');
  mask-image: url('823c573abe47c1de0509b72584066603.svg');
  
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 96%;
  mask-size: 96%;
}

.m-image--brush2__image {
  -webkit-mask-image: url('cb6be93fe44a8d18da305c64d88b2138.svg');
  mask-image: url('cb6be93fe44a8d18da305c64d88b2138.svg');

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 96%;
  mask-size: 96%;
}

.m-image--brush-shadow__image {
  -webkit-mask-image: url('2aa61f317c3dc326742244ac629bc0c0.svg');
  mask-image: url('2aa61f317c3dc326742244ac629bc0c0.svg');

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 96%;
  mask-size: 96%;
}

%has-icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto rem(20px);

  .m-image__image {
    grid-column: 1 / -1;
    grid-row: 1/ -1;
  }
}

// Image with Icon
.has-icon--left,
.has-icon--right,
.has-icon--center {
  @extend %has-icon;
}

%m-image__icon {
  grid-row: 2;
  align-self: end;
  background-color: palette(yellow) ;
  padding: 0.5em;
  border-radius: 50%;
  width: fit-content;
  color: palette(black);
}

.m-image__icon--left,
.m-image__icon--right,
.m-image__icon--center {
  @extend %m-image__icon;
}

.m-image__icon--left {
  grid-column: 1;
  margin-left: rem(15px);
}

.m-image__icon--right {
  grid-column: 3;
  justify-self: end;
  margin-right: rem(15px);
}

.m-image__icon--center {
  grid-column: 2;
  justify-self: center;
}

//Brush with shadow 
.m-image--brush-shadow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.m-image--brush-shadow__image {
  grid-row: 1/ -1;
  grid-column: 1/ -1;
}

.m-image__shadow {
  grid-row: 1/ -1;
  grid-column: 1/ -1;
  background-image: url('48e6974dd9fe8451ca0b7008cd9ae3d4.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 97%;
}

// Image Brush with Icon
%m-image--brush-with-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  position: relative;

  .m-image__icon--right {
    transform: translate(0, 50%);
    position: absolute;
    bottom: 30%;
    right: 10%;
  }

  .m-image__icon--left {
    transform: translate(0, 50%);
    position: absolute;
    bottom: 30%;
    left: 10%;
  }

  .m-image__icon--center {
    transform: translate(-50%, 50%);
    position: absolute;
    right: 50%;
    bottom: 15%;
  }
}

.m-image--brush1.has-icon,
.m-image--brush2.has-icon,
.m-image--brush-shadow.has-icon {
  @extend %m-image--brush-with-icon;
} 
