{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

{% if image %}
  <div class="m-image{{ variation }}">
    <div class="m-image__image {% if variation %}m-image{{ variation }}__image{% endif %}">
      {{ image }}
    </div>
  </div>
{% endif %}
