{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

{% if image %}
  <div class="m-image">
    {% if variation == '--paralax' %}
      <div class="m-image{{variation}}__image" style="background-image:url('{{ image_bg_path }}')">
      </div>
    {% else %}
      <div class="m-image__image">
        {{ image }}
      </div>
    {% endif %}
  </div>
{% endif %}
